{% load static %}

<section id="mocidade" class="about_page bg-cover ">
     <div class="container">
          <div class="col-ms-12 text-center mt-6 my-5">
               <h1 data-aos="fade-up" class="text-white pt-4"> DEPARTAMENTO DE MÚSICA /</h1>
               <div class="border-top border-primary w-25 mx-auto my-4"></div>
               <p class="about_text text-white" data-aos="fade-up"  class="lead" style="font-weight: 400; font-size:12pt;
               font-family: "Barlow", sans-serif !important;">O Departamento de Música como um dos pilares da igreja tem a missão de estimular o 
               Ministério do louvor e Adoração a Deus <strong>(Jo.4:23,24)</strong>.<br/> O louvor e adoração provam a nossa 
               intimidade com Deus no cumprimento do propósito da nossa existência. 
               Deste modo, <br/> o líder do Departamento assegura que sejam formados corais, 
               bandas, equipes  que possam aprimorar a música, <br/> louvor e adoração nos cultos. 
               Oferece cursos de iniciação a música e providencia suporte musical à congregação..</p>
          </div>
     </div>
</section>


<section id="preg bg-light">
    <div class="container-fluid mt-4">
     <div class="row g-4 mb-3">
        <div class="col-ms-12 text-center">
             <h1 data-aos="fade-up" class="text-dark pt-4">Agenda</h1>
             <div class="border-top border-primary w-25 mx-auto my-4"></div>
             <p class="about_text" data-aos="fade-up"  class="lead" style="font-weight: 400; font-size:12pt;
             font-family: "Barlow", sans-serif !important;">Esteja actualizado, conheça a nossa agenda, e participe das nossas actividades.</p>
       </div>
     </div>
   <div class="container mt-5 mb-3">

    <div class="row justify-content-between mt-5">
         <div class="col-12 col-lg-9">
             <div class="row">
                 {% for atividade_musica in atividade_musicas|slice:":4" %}
                 <div data-aos="flip-left" class="col-md-6 event-card">
                     <div class="card shadow-sm">
                         <div class="card-header">
                             {{ atividade_musica.atividade }}
                         </div>
                         <div class="card-body">
                             <p><strong>Data:</strong>  {{ atividade_musica.dataAtividade }} </p>
                             <p><strong>Horário:</strong> {{ atividade_musica.horario }}</p>
                             <p><strong>Local:</strong> {{ atividade_musica.local }} </p>
                             <p>{{ atividade_musica.descricao }}!</p>
                             <div class="post-meta mb-3">
                                 <a class="text-muted">Presidente <i class="bx bxs-user" aria-hidden="true"></i>
                                     {{  atividade_musica.presidente }} 
                                 </a>
                             </div>
                         </div>
                     </div>
                 </div>
                 {% empty %}
                     <div class="center m-y">
                        <h2> Actividades não agendadas </h2>
                     </div>
                {% endfor %}
             </div>
     
             <h3 data-aos="flip-down" class="mt-2 mb-2">Eventos Recorrentes</h3>
     
             <div class="row mb-3">
                 <div data-aos="flip-up" class="col-md-6 event-card">
                     <div class="card shadow-sm">
                         <div class="card-header">
                             Ensaios
                         </div>
                         <div class="card-body">
                             <p><strong>Quando:</strong> Todos os sabádos</p>
                             <p><strong>Horário:</strong> 15h - 18h</p>
                             <p><strong>Local:</strong>Templo e Colégio Evangélico</p>
                             <p>Ensaio pra todos os grupos corais e grupo de Louvor</p>
                             <div class="post-meta mb-3">
                                <a class="text-muted">Presidente <i class="bx bxs-user" aria-hidden="true"></i>
                                    Carlos Micas
                                </a>
                            </div>
                         </div>
                     </div>
                 </div>
     
                 <div data-aos="flip-up" class="col-md-6 event-card">
                     <div class="card shadow-sm">
                         <div class="card-header">
                             Encontro de Oração
                         </div>
                         <div class="card-body">
                             <p><strong>Quando:</strong> Todas as Sextas-Feiras</p>
                             <p><strong>Horário:</strong> 18h - 20h </p>
                             <p>Encontro de oração e Intercessão.</p>
                             <div class="post-meta mb-3">
                                <a class="text-muted">Presidente <i class="bx bxs-user" aria-hidden="true"></i>
                                    Carlos Micas
                                </a>
                            </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>

         <div class="col-12 col-sm-9 col-md-6 col-lg-3">
             <div data-aos="zoom-out" class="post-sidebar-area">
                 <div class="single-widget-area">
                     <!-- Title -->
                     <div class="widget-title contact-information mb-2">
                         <h6 data-aos="zoom-out">Notícias Recentes</h6>
                     </div>

                     {% for noticias_recente in noticias_recentes|slice:":3" %}
                     <div data-aos="zoom-out" class="single-latest-post contact-information">
                         <a  href="{% url 'webiel:noticia-view' noticias_recente.slug %}" class="post-title">
                             <h6>{{ noticias_recente.title }}</h6>
                         </a>
                         <p class="post-date text-muted" style="font-style:italic;"> <i style="color:#000; font-style:italic;" class="bx bxs-calendar" aria-hidden="true"></i> {{ noticias_recente.dataEvento }} de <script>document.write(new Date().getFullYear());</script> </p>
                     </div>
                     {% endfor %}
                 </div>
             </div>
             <div data-aos="zoom-out-up" class="contact-info mt-5">
                 <h5>Contactos</h5>
                 <p ><strong> Presidente:</strong> <i style="color: #26599D" class='bx bxs-user'></i>Carlos Micas</p>
                 <p ><a style="text-decoration: none; color: black;" href="http://"><i style="color: #26599D" class='bx bxs-envelope'></i> carlos-iel@igreja.com</a></p>
                 <p ><a style="text-decoration: none; color: black;" href="https://api.whatsapp.com/send?phone=244948888293"><i style="color: #26599D"  class='bx bxl-whatsapp'></i> + (244) 926 279 725</a></p>
             </div>
         </div>
    </div>

  </div>

<section class="mb-4 bg-light">
   <div class="container">
         <div class="row g-4 mb-3">
            <div class="col-ms-12 text-center">
                 <h1 data-aos="fade-up" class="text-dark pt-4">Galeria de Música</h1>
                 <div class="border-top border-primary w-25 mx-auto my-4"></div>
                 <p class="about_text" data-aos="fade-up"  class="lead " style="color: #6a6a6a !important;">companhe um pouco do muito que tem acontecido no Departamento da Juventude.</p>
           </div>
         </div>

         <ul data-aos="fade-up" class="nav nav-tabs" id="albumTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="album1-tab" data-bs-toggle="tab" href="#album1" role="tab" aria-controls="album1" aria-selected="true">Álbum 1</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="album2-tab" data-bs-toggle="tab" href="#album2" role="tab" aria-controls="album2" aria-selected="false">Álbum 2</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="album3-tab" data-bs-toggle="tab" href="#album3" role="tab" aria-controls="album3" aria-selected="false">Álbum 3</a>
            </li>
        </ul>

        <!-- Conteúdo das telas -->
        <div data-aos="fade-up" class="tab-content">
            <div class="tab-pane fade show active" id="album1" role="tabpanel" aria-labelledby="album1-tab">
                <div class="row" id="album1-content">
                    <div class="col-md-4 gallery-item" data-page="1">
                        <a href="{% static 'webiel/img/moci/1.jpg' %}" data-lightbox="gallery" data-title="Imagem 1">
                            <img src="{% static 'webiel/img/moci/1.jpg' %}" class="img-fluid" alt="Imagem 1">
                            <div class="overlay">
                                <div class="overlay-content"></div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 gallery-item" data-page="1">
                        <a href="{% static 'webiel/img/moci/2.jpg' %}" data-lightbox="gallery" data-title="Imagem 2">
                            <img src="{% static 'webiel/img/moci/2.jpg' %}" class="img-fluid" alt="Imagem 2">
                            <div class="overlay">
                                <div class="overlay-content"></div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 gallery-item" data-page="1">
                        <a href="{% static 'webiel/img/moci/3.jpg' %}" data-lightbox="gallery" data-title="Imagem 3">
                            <img src="{% static 'webiel/img/moci/3.jpg' %}" class="img-fluid" alt="Imagem 3">
                            <div class="overlay">
                                <div class="overlay-content"></div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 gallery-item" data-page="1">
                        <a href="{% static 'webiel/img/moci/3.jpg' %}" data-lightbox="gallery" data-title="Imagem 3">
                            <img src="{% static 'webiel/img/moci/3.jpg' %}" class="img-fluid" alt="Imagem 3">
                            <div class="overlay">
                                <div class="overlay-content"></div>
                            </div>
                        </a>
                    </div>
                    <!-- Adicione mais imagens conforme necessário, incrementando o data-page -->
                </div>
                <nav aria-label="Page navigation">
                    <ul class="pagination" id="pagination1"></ul>
                </nav>
            </div>
            <div class="tab-pane fade" id="album2" role="tabpanel" aria-labelledby="album2-tab">
                <div class="row" id="album2-content">
                    <div class="col-md-4 gallery-item" data-page="1">
                        <a href="{% static 'webiel/img/moci/4.jpg' %}" data-lightbox="gallery" data-title="Imagem 4">
                            <img src="{% static 'webiel/img/moci/4.jpg' %}" class="img-fluid" alt="Imagem 4">
                            <div class="overlay">
                                <div class="overlay-content"></div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 gallery-item" data-page="1">
                        <a href="{% static 'webiel/img/moci/5.jpg' %}" data-lightbox="gallery" data-title="Imagem 5">
                            <img src="{% static 'webiel/img/moci/5.jpg' %}" class="img-fluid" alt="Imagem 5">
                            <div class="overlay">
                                <div class="overlay-content"></div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 gallery-item" data-page="1">
                        <a href="{% static 'webiel/img/moci/6.jpg' %}" data-lightbox="gallery" data-title="Imagem 6">
                            <img src="{% static 'webiel/img/moci/6.jpg' %}" class="img-fluid" alt="Imagem 6">
                            <div class="overlay">
                                <div class="overlay-content"></div>
                            </div>
                        </a>
                    </div>
                    <!-- Adicione mais imagens conforme necessário, incrementando o data-page -->
                </div>
                <nav aria-label="Page navigation">
                    <ul class="pagination" id="pagination2"></ul>
                </nav>
            </div>
            <div class="tab-pane fade" id="album3" role="tabpanel" aria-labelledby="album3-tab">
                <div class="row" id="album3-content">
                    <div class="col-md-4 gallery-item" data-page="1">
                        <a href="{% static 'webiel/img/moci/7.jpg' %}" data-lightbox="gallery" data-title="Imagem 7">
                            <img src="{% static 'webiel/img/moci/7.jpg' %}" class="img-fluid" alt="Imagem 7">
                            <div class="overlay">
                                <div class="overlay-content"></div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 gallery-item" data-page="1">
                        <a href="{% static 'webiel/img/moci/8.jpg' %}" data-lightbox="gallery" data-title="Imagem 8">
                            <img src="{% static 'webiel/img/moci/8.jpg' %}" class="img-fluid" alt="Imagem 8">
                            <div class="overlay">
                                <div class="overlay-content"></div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 gallery-item" data-page="1">
                        <a href="{% static 'webiel/img/moci/9.jpg' %}" data-lightbox="gallery" data-title="Imagem 9">
                            <img src="{% static 'webiel/img/moci/9.jpg' %}" class="img-fluid" alt="Imagem 9">
                            <div class="overlay">
                                <div class="overlay-content"></div>
                            </div>
                        </a>
                    </div>
                    <!-- Adicione mais imagens conforme necessário, incrementando o data-page -->
                </div>
                <nav aria-label="Page navigation">
                    <ul class="pagination" id="pagination3"></ul>
                </nav>
            </div>
        </div>
  </div>

</section>