{% load static %}

<section class="about" id="about">

    <div class="container">

        <!-- INTRO -->
        <div data-aos="fade-up" class="text-center mt-5 mb-4">
            <h1 class="about_text_intro  pt-4 text-uppercase">
                 <span>Igreja Evangélica do Lubango</span>
            </h1>

            <div class="divider"></div>

            <p class="about_text lead" data-aos="fade-up">
                Estamos localizados no Lubango, e no mundo inteiro pela Igreja Online.  </br>
                Não importa onde estiveres, junta-te a nós.
            </p>
        </div>

        <!-- CONTENT -->
        <div class="row align-items-center justify-content-center">

            <!-- INFO BOXES -->
            <div class="col-lg-5">

                <div class="info-box contact-information mb-3" data-aos="fade-up-right">
                    <img src="{% static 'webiel/img/3.jpeg' %}" alt="">
                    <div>
                        <h5>Sobre Nós</h5>
                        <div class="border-top border-primary w-25 my-2"></div>
                        <p>
                            Conheça a Igreja Evangélica do Lubango, nossa história, visão e valores.
                        </p>
                    </div>
                </div>

                <div class="info-box contact-information mb-3" data-aos="fade-up-right">
                    <img src="{% static 'webiel/img/p.jpg' %}" alt="">
                    <div>
                        <h5>Cultos Online</h5>
                        <div class="border-top border-primary w-25 my-2"></div>
                        <p>
                            Acompanhe os nossos cultos em directo e fortaleça a sua fé.
                        </p>
                    </div>
                </div>

                <div class="info-box contact-information mb-3" data-aos="fade-up-right">
                    <img src="{% static 'webiel/img/noti.jpg' %}" alt="">
                    <div>
                        <h5>Programas</h5>
                        <div class="border-top border-primary w-25 my-2"></div>
                        <p>
                            Fique por dentro de todas as actividades da igreja.
                        </p>
                    </div>
                </div>

            </div>

            <!-- IMAGE CARD -->
            <div class="col-lg-5 col-md-6 m-auto">

                <div class="iel" data-aos="fade-up-left">

                    <div class="img-wrapper">
                        <img src="{% static 'webiel/img/4.jpg' %}" class="img-fluid img-thumbnail" alt="">

                        <div class="overlay"></div>

                        <div class="social-links">
                            <a href="#"><i class="bx bxl-facebook"></i></a>
                            <a href="#"><i class="bx bxl-whatsapp"></i></a>
                            <a href="#"><i class="bx bxl-instagram"></i></a>
                            <a href="#"><i class="bx bxl-youtube"></i></a>
                        </div>
                    </div>

                    <div class="content mt-3">
                        <h5>Igreja Evangélica do Lubango</h5>
                        <p class="fst-italic">Fundada em 19 de Maio de 1944</p>
                    </div>

                </div>

            </div>

        </div>
    </div>
</section>

<script>
  AOS.init();
</script>


