{% load static %}

<Section class="about" id="about">
     <div class="container">
            
             <div data-aos="fade-up" class="col-ms-12 text-center mt-6 my-5">
                 <h1  class="text-dark pt-4 text-uppercase ">Igreja Evangélica do Lubango</h1>
                 <div class="border-top border-primary w-25 mx-auto my-4"></div>
                 <p class="about_text" data-aos="fade-up"  class="lead" style="color: #6a6a6a !important;">Estamos localizados no Lubango, e no mundo inteiro pela <br/> Igreja Online. 
                 Não importa onde você estiver, se junte a nós.</p>
             </div>
             
             <div class="container">
                  <div  class="row align-items-center justify-content-center">
                    <div class="col-lg-5 info-box">
                      <div class="row">
                      <div data-aos="fade-up-right" class="col-12 info-box" id="info-box">
                        <img src=" {% static "webiel/img/3.jpeg" %} " alt="">
                        <div>
                          <h5>Sobre Nós</h5>
                          <div class="border-top border-primary w-10 mx-auto my-2"></div>
                          <p>Conheça melhor a <strong>Igreja Evangélica do Lubango</strong>, nossa História, 
                            Visão, Valores, e todas as Informações Relevantes.</p>
                        </div>
                      </div>
                      <div data-aos="fade-up-right" class="col-12 info-box" id="info-box">
                        <img src=" {% static "webiel/img/p.jpg" %} " alt="">
                        <div>
                          <h5>Pregações</h5>
                          <div class="border-top border-primary w-10 mx-auto my-2"></div>
                          <p>Leia os nossas <strong>pregações</strong> actuais e actuantes, e 
                            fortaleça a sua fé em Cristo Jesus! Deus abençoe, e que sejas edificado..</p>
                        </div>
                      </div>
                      <div data-aos="fade-up-right" class="col-12 info-box" id="info-box">
                        <img src=" {% static "webiel/img/noti.jpg" %} " alt="">
                        <div>
                          <h5>Notícias</h5>
                          <div class="border-top border-primary w-10 mx-auto my-2"></div>
                          <p>Esteja por dentro de todas <strong>actividades</strong> actividades que a igreja 
                            tem realizado ao longo desse período, e sê também um participante.</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div  class="col-lg-5 col-md-6 m-auto">
                     <div class="iel">
                       <div class="img-wrapper">
                        <img data-aos="fade-up-left"  src="{% static 'webiel/img/4.jpg' %}" alt="" class="img-fluid img-thumbnail w-60">
                        <div class="overlay"></div>
                        <div class="social-links">
                          <a href="http://"><i class="bx bxl-facebook"></i></a>
                          <a href="http://"><i class="bx bxl-whatsapp"></i></a>
                          <a href="http://"><i class="bx bxl-instagram"></i></a>
                          <a href="http://"><i class="bx bxl-youtube"></i></a>
                        </div>
                       </div>
                      <div data-aos="fade-up-left" class="content">
                        <h5>Igreja Evangélica do Lubango</h5>
                        <p>Fundada em "19 de Maio de 1944"</p>
                      </div>
                     </div>
                  </div>
             </div>
     </div>
</Section>

<script>
  AOS.init();
</script>