{% load static %}

<Section class="about" id="about">

     <div class="container">
            
             <div data-aos="fade-up" class="col-ms-12 text-center mt-6 my-5">
                 <h1  class="text-dark pt-4 text-uppercase ">Igreja Evangélica do Lubango</h1>
                 <div class="border-top border-primary w-25 mx-auto my-4"></div>
                 <p class="about_text" data-aos="fade-up"  class="lead" style="font-weight: 400;
                    font-family: "Barlow", sans-serif !important;"> Estamos localizados no Lubango, e no mundo inteiro pela <br/> Igreja Online. 
                 Não importa onde você estiver, se junte a nós.</p>
             </div>
             
             <div class="container">
                  <div  class="row align-items-center justify-content-center">
                    <div class="col-lg-5 info-box">
                      <div class="row">
                      <div data-aos="fade-up-right" class="col-12 info-box contact-information mb-2" id="info-box">
                        <img src=" {% static "webiel/img/3.jpeg" %} " alt="">
                        <div>
                          <h5>Sobre Nós</h5>
                          <div class="border-top border-primary w-10 mx-auto my-2"></div>
                          <p style="font-weight: 400;
                          font-family: "Barlow", sans-serif !important;">Conheça melhor a <strong>Igreja Evangélica do Lubango</strong>, nossa História, 
                            Visão, Valores, e todas as Informações Relevantes.</p>
                        </div>
                      </div>
                      <div data-aos="fade-up-right" class="col-12 info-box contact-information mb-2" id="info-box">
                        <img src=" {% static "webiel/img/p.jpg" %} " alt="">
                        <div>
                          <h5>Cultos On-line</h5>
                          <div class="border-top border-primary w-10 mx-auto my-2"></div>
                          <p style="font-weight: 400;
                              font-family: "Barlow", sans-serif !important;">A companhe os nossos <strong>cultos em directo</strong>, e 
                            fortaleça a sua fé em Cristo Jesus! Deus abençoe, e que sejas edificado..</p>
                        </div>
                      </div>
                      <div data-aos="fade-up-right" class="col-12 info-box contact-information mb-4" id="info-box">
                        <img src=" {% static "webiel/img/noti.jpg" %} " alt="">
                        <div>
                          <h5>Notícias</h5>
                          <div class="border-top border-primary w-10 mx-auto my-2"></div>
                          <p style="font-weight: 400;
                            font-family: "Barlow", sans-serif !important;">Esteja por dentro de todas <strong>actividades</strong> actividades que a igreja 
                            tem realizado ao longo desse período, e sê também um participante.</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div  class="col-lg-5 col-md-6 m-auto">
                     <div class="iel">
                       <div class="img-wrapper">
                        <img data-aos="fade-up-left"  src="{% static 'webiel/img/4.jpg' %}" alt="" class="img-fluid img-thumbnail w-60">
                        <div class="overlay"></div>
                        <div class="social-links">
                          <a href="https://www.facebook.com/UniaoLage?mibextid=7cd5pb"><i class="bx bxl-facebook"></i></a>
                          <a href="https://api.whatsapp.com/send?phone=244948888293"><i class="bx bxl-whatsapp"></i></a>
                          <a href="https://instagram.com/_igreja_evangelica_do_lubango?igshid=MzMyNGUyNmU2YQ=="><i class="bx bxl-instagram"></i></a>
                          <a href="https://www.youtube.com/channel/UCoprCOxdsXL42F_E5Z1vLcA"><i class="bx bxl-youtube"></i></a>
                        </div>
                       </div>
                      <div data-aos="fade-up-left" class="content contact-information">
                        <h5 style="font-weight: 400;
                          font-family: "Barlow", sans-serif !important;">Igreja Evangélica do Lubango</h5>
                        <p style="font-style:italic;">Fundada em "19 de Maio de 1944"</p>
                      </div>
                     </div>
                  </div>

              
             </div>
     </div>
</Section>

<script>
  AOS.init();
</script>


<!--   


<div class="container-fluid mb-3">
  <div id="project-slider" class="owl-theme owl-carousel">
    <div class="project" data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000">

        <img src=" {% static "webiel/img/pre.jpg" %} " alt="">
          <div class="overlay"></div>
          <div class="content">
          <h1>Tema | Pregação</h1>
          <h6>Sub-tema | Pregação</h6>
        </div>
    </div>
    <div class="project" data-aos="zoom-out-left" >
    <img src=" {% static "webiel/img/4.jpg" %} " alt="">
        <div class="overlay"></div>
          <div class="content">
          <h1>Tema | Pregação</h1>
          <h6>Sub-tema | Pregação</h6>
        </div>
    </div>
    <div data-aos="zoom-out-right" class="project">
    <img src=" {% static "webiel/img/3.jpeg" %} " alt="">
      <div class="overlay"></div>
        <div class="content">
          <h1>Tema | Pregação</h1>
          <h6>Sub-tema | Pregação</h6>
        </div>
    </div>

  </div>
</div>


-->


