{% load static %}


<section>
      <!-- Floating Action Button Container -->
    <div class="fab-container">
     <div class="fab-icon-holder" id="main-fab">
         <i class="fas fa-plus"></i>
     </div>
     <ul class="fab-options">
         <li>
             <div class="fab-icon-holder">
                <a href="#"> <i class='bx bxs-phone-call'style='color:#ffffff'> </i></a>
             </div>
         </li>
         <li>
             <div class="fab-icon-holder">
                <a href="#"><i class='bx bxl-whatsapp' style='color:#ffffff' ></i></a>
             </div>
         </li>
         <li>
             <div class="fab-icon-holder" id="back-to-top">
                <a href="#"><i class='bx bx-up-arrow-alt' style='color:#ffffff' ></i></a>
             </div>
         </li>
     </ul>
 </div>
</section>