{% load static %}


<section>
      <!-- Floating Action Button Container -->

<div class="fab-container">
        <div class="fab-icon-holder" id="main-fab">
            <i class="fas fa-plus"></i>
        </div>
        <ul class="fab-options">
            <li>
                <div class="fab-icon-holder">
                    <a href="callto:001-1234-88888"> <i class='bx bxs-phone-call'style='color:#ffffff'> </i></a>
                </div>
            </li>
            <li>
                <div class="fab-icon-holder">
                    <a href="https://api.whatsapp.com/send?phone=244948888293"><i class='bx bxl-whatsapp' style='color:#ffffff' ></i></a>
                </div>
            </li>
        </ul>
</div>
</section>