{% load static %}

<section id="cartas">

    <div class="container">

        <!-- HEADER -->
        <div class="text-center" data-aos="fade-down">

            <h1 class="about_text_intro  text-uppercase pt-4">
               <span>Cartas</span> 
            </h1>

            <div class="divider"></div>

            <p class="about_text lead">
                A carta de recomendação e transferência é um documento emitido pela direcção da Igreja a um membro.
            </p>

        </div>

        <!-- CARDS -->
        <div class="row justify-content-center g-4 mt-3">

            <!-- CARD 1 -->
            <div class="col-lg-4 col-sm-6" data-aos="fade-up-right">
                <div class="carta-box">

                    <img src="{% static 'webiel/img/icons/icon_2.png' %}" alt="">

                    <h5>Carta de Recomendação</h5>

                     <div class="divider"></div>

                    <p>
                        Documento emitido para membros que desejam visitar outra igreja por motivos pessoais ou espirituais.
                    </p>

                </div>
            </div>

            <!-- CARD 2 -->
            <div class="col-lg-4 col-sm-6" data-aos="fade-up-left">
                <div class="carta-box">

                    <img src="{% static 'webiel/img/icons/icon_2.png' %}" alt="">

                    <h5>Carta de Transferência</h5>

                      <div class="divider"></div>

                    <p>
                        Documento que autoriza a transferência de um membro para outra congregação.
                    </p>

                </div>
            </div>

        </div>

        <!-- BUTTON -->
        <div class="text-center mt-5" data-aos="fade-up">
            <a href="#"
               class="btn btn-brand btn-lg"
               data-bs-toggle="modal"
               data-bs-target="#cartaModal1_carta">
                Solicitar Carta
            </a>
        </div>

    </div>

</section>

 <!-- Modal - 1 - Slider -->
 <div class="modal fade mb-0" id="cartaModal1_carta" tabindex="-1" aria-labelledby="cartaModal1_cartaLabel" aria-hidden="true">
     <div class="modal-dialog modal-xl modal-dialog-centered">
       <div class="modal-content" style="background-color: #0192b620;">
         <div class="modal-body p-0">
             <div class="container-fluid mb-0">
               <div class="row">
                  <div class="col-lg-4 col-sm-12 bg-cover"
                  style="background-image: url({% static "webiel/img/slider/slider_5.jpg" %}); min-height:300px;">
                  <div>
                      
                  </div>
              </div>
                 <div class="col-lg-8">
                   <form action="" method="post" class="row p-lg-4 gy-2 mb-0">
                    {% csrf_token %}
                       <div class="col-12 mb-3">
                           <h2 style="font-family: 'Inter', sans-serif !important; color: #ffffff !important;">CARTA DE RECOMENDAÇÃO & TRANSFERÊNCIA</h2>
                           <p class="cuidar">Igreja Evangélica do Lubango!</p>
                       </div>
                       <div class="col-12">
                         <p style="text-align: justify; font-size: small; color: #ffffff !important;"><span style="font-weight: 400; font-size:15px;
                        font-family: "Inter", sans-serif !important;">
                              A carta de recomendação é um documento passado pela direcção da Igreja a um determinado membro, 
                              quando o mesmo manifesta o desejo de visitar por qualquer motivo alguma outra Igreja.
                         </span></p>
                       </div>
                       <div class="col-12">
                          <div class="border-top border-primary w-40 mx-auto juntos-content-center mb-3"></div>
                       </div>
                       <div class="col-lg-6">
                           <input type="text" name="nome" class="form-control" id="exampleFormControlInput1" placeholder="Nome" required>
                       </div>
                       <div class="col-lg-6">
                           <input type="text" name="destino" class="form-control" id="exampleFormControlInput1" placeholder="Destino" required>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" name="objectivo" class="form-control" id="exampleFormControlInput1" placeholder="objectivo" required>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <select id="tipo_carta" name="tipo_carta" class="browser-default custom-select form-control">
                                <option selected>Selecione o tipo de carta</option>
                                <option value="Carta de Recomendação">Carta de Recomendação</option>
                                <option value="Carta de Transferência">Carta de Transferência</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="email" requird>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" name="telefone" class="form-control" id="exampleFormControlInput1" placeholder="Telefone" required>
                    </div>
                    <div class="col-12 mb-3">
                        <textarea name="outras_inf" id="" row="10" class="form-control" placeholder="Outras informações" required></textarea>
                    </div>
                    <div class="col-12">
                        <button type="submit" name="enviar" class="btn btn-brand">Enviar</button>
                    </div>
                   </form>
                 </div>
               </div>
            </div>
         </div>
       </div>
     </div>
 </div>