{% load static %}

<section id="milestone" class="bg-cover">
     <div class="container">
          <div data-aos="fade-up" class="col-ms-12 text-center mt-6 my-5">
               <h1 class="text-white pt-4 text-uppercase">Casamentos</h1>
               <div class="border-top border-primary w-25 mx-auto my-4"></div>
               <p class="about_text text-white" data-aos="fade-up"  class="lead" style="font-weight: 400;
               font-family: "Barlow", sans-serif !important;">O casamento é uma aliança sagrada entre um homem <br/> e uma mulher perante Deus.
                    Pretende realizar o seu casamento?
                    <br/>Inscreve-te até ao final do mês de Abril de 2025.</p>
               <a href="" class="btn btn-brand" data-bs-toggle="modal" data-bs-target="#casaModal1_casa">Agendar</a>
           </div>
     </div>
</section>

 <!-- Modal - 1 - Slider -->
 <div class="modal fade mb-0 bg-modal" id="casaModal1_casa" tabindex="-1" aria-labelledby="casaModal1_casaLabel" aria-hidden="true">
     <div class="modal-dialog modal-xl modal-dialog-centered">
       <div class="modal-content bg-modal">
         <div class="modal-body p-0">
             <div class="container-fluid mb-0">
               <div class="row">
                <div class="col-lg-4 col-sm-12 bg-cover"
                  style="background-image: url({% static "webiel/img/casa1.jpg" %}); min-height:300px;">
                  <div>
                      
                  </div>
              </div>
                 <div class="col-lg-8">
                   <form action="" method="post" class="row p-lg-4 gy-2">
                    {% csrf_token %}
                       <div class="col-12 mb-3">
                           <h2 style="font-family: "Barlow", sans-serif !important;">Casamentos</h2>
                           <p class="cuidar"> Igreja Evangélica do Lubango!</p>
                       </div>
                       <div class="col-12 mb-3">
                         <p style="text-align: justify; font-size: small;"><span style="font-weight: 400; font-size:15px;
                        font-family: "Barlow", sans-serif !important;">
                              O casamento é uma aliança sagrada entre um homem e uma mulher perante Deus. 
                              Pretende realizar o seu casamento até ao dia 31 de Dezembro de 2025?
                         </span></p>
                       </div>
                       <div class="col-12">
                          <div class="border-top border-primary w-40 mx-auto juntos-content-center mb-4"></div>
                       </div>
                       <div class="col-lg-6">
                           <input name="nome_noivo" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nome Completo do Noivo" required>
                       </div>
                       <div class="col-lg-6">
                           <input name="nome_noiva"  type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nome Completo da Noiva" required>
                      </div>
                      <div class="col-lg-6">
                           <input name="data_casam" type="date" class="form-control" id="exampleFormControlInput1" placeholder="dd/mm/aaaa" required>
                      </div>
                      <div class="col-lg-6 mb-3">
                           <input name="telefone" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Telefone" required>
                      </div>
                      <div class="col-12">
                          <button type="submit" name="enviar" class="btn btn-brand">Agendar</button>
                      </div>
                   </form>
                 </div>
               </div>
            </div>
         </div>
       </div>
     </div>
 </div>


