{% load static %}

<section id="about_page" class="about_page bg-cover">
     <div class="container">
          <div class="col-ms-12 text-center mt-6 my-5">
               <h1 data-aos="fade-up" class="text-white pt-4">FALE CONNOSCO/</h1>
               <div class="border-top border-primary w-25 mx-auto my-4"></div>
               <p class="about_text text-white" data-aos="fade-up"  class="lead ">Encontre a seguir direções, contactos, horários de funcionamento e o formulário de contacto.</p>
          </div>
     </div>
</section>

<section class="justify-content-center" id="contato">
     <div class="container">         
          <div class="row justify-content-center">
               <div data-aos="zoom-in" class="col-lg-4 col-md-6 m-auto">
                  <div class="contat-content-area justify-content-center">
                    <div class="row p-lg-4 gy-2">
                          <div class="col-12">
                              <div class="contact-content contact-information">
                                   <h5 class="mb-3">Contactos</h5>
                                   <p> <i style="color: #26599D" class="bx bxs-envelope" aria-hidden="true"></i>  apoio@igrejaevangelicadolubango.org</p>
                                   <p> <i style="color: #26599D" class="bx bx-mobile-alt" aria-hidden="true"></i> + (244) 2612 23 332</p>
                              </div>
                          </div>
                          <div class="col-4">
                              <div class="border-top border-primary w-40 mx-auto juntos-content-center"></div>
                          </div>
                          <div class="col-12">
                              <div class="contact-content contact-information">
                                   <h5 class="mb-3">Endereço</h5>
                                   <p> <i style="color: #26599D" class="bx bxs-map" aria-hidden="true"></i>  Angola - Huila - Lubango - Lage</p>
                                   <p> <i style="color: #26599D" class="bx bxs-map-pin" aria-hidden="true"> </i>  Bairro Dr. António Agostinho Neto</p>
                               </div>
                          </div>
                          <div class="col-4">
                              <div class="border-top border-primary w-40 mx-auto juntos-content-center"></div>
                          </div>
                          <div class="col-12">
                              <div class="contact-content contact-information">
                                   <h5 class="mb-3">Horário de Trabalho</h5>
                                   <p><i style="color: #26599D" class="bx bxs-time-five" aria-hidden="true"></i><b>  Secretaria</b> - Segunda - Sexta: 08h às 17h</p>
                                   <p> <b>Website - I.E.L - 24h</b></p>
                               </div>
                          </div>
                          <div class="col-4">
                              <div class="border-top border-primary w-40 mx-auto juntos-content-center"></div>
                          </div>
                          <div class="col-12">
                              <div class="contact-content contact-information">
                                   <h5 class="mb-3">Redes Sociais</h5>
                                   <div class="social-links-his mb-0">
                                        <a href="http://"><i class="bx bxl-facebook"></i></a>
                                        <a href="http://"><i class="bx bxl-whatsapp"></i></a>
                                        <a href="http://"><i class="bx bxl-instagram"></i></a>
                                        <a href="http://"><i class="bx bxl-youtube"></i></a>
                                   </div>
                               </div>
                          </div>
                    </div>
                  </div>
               </div>
               <div data-aos="zoom-in" class="col-lg-6">
                    <div class="col-12">
                         <div id="contact" class="contat-content-form">
                              <form action="" class="row p-lg-4 gy-4 mb-0 mt-5" method="post">
                                   {% csrf_token %}
                                   <div class="section-heading">
                                        <h3 class="mb-2">Deixe uma mensagem</h3>
                                        <p class="mb-0">Ajude-nos a Crescer, deixe a sua opinião, partilhe a sua dificuldade que nós estamos aqui para ajudar. </p>
                                   </div>
                                   <div class="col-lg-12">
                                        <div class="border-top border-primary w-40 mx-auto"></div>
                                   </div>
                                   <div class="col-lg-4">
                                       <input type="text" name="nome" class="form-control" id="exampleFormControlInput1" placeholder="Nome Completo" required>
                                   </div>
                                   <div class="col-lg-4">
                                       <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="E-mail" required>
                                  </div>
                                  <div class="col-lg-4">
                                       <input type="text" name="telefone" class="form-control" id="exampleFormControlInput1" placeholder="Telefone" required>
                                  </div>
                                  <div class="col-lg-12 mb-3">
                                      <textarea name="mensagem" id="" row="10" class="form-control" placeholder="Mensagem" required></textarea>
                                  </div>
                                  <div class="col-12">
                                      <button type="submit" name="enviar" class="btn btn-brand">Enviar</button>
                                  </div>
                               </form>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</section>

<section>
     <div class="container-fluid">
          <div class="col-lg-12">
               <div class="map-area  mt-30">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3855.246878912934!2d13.481280214337056!3d-14.923332806107041!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1ba34bed3ff05f3d%3A0x988f56a1fbea4362!2sIgreja%20Evang%C3%A9lica%20do%20Lubango!5e0!3m2!1spt-PT!2sao!4v1602271229047!5m2!1spt-PT!2sao" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
          </div>
     </div>
</section>
