{% load static %}

<footer class="footer bg-cover pb-lg-3 footer-area" id="footer">

     <div class="container">
          <div class="row"> 
               <div class="col-12 col-sm-6 col-lg-3 pt-lg-0">
                    <div class="single-footer-widget footer-iel mb-70">
                        <div id="news" class="nav-brand text-white p-0 me-0 mb-lg-4">
                            <a href="{% url "webiel:home" %}" class="navbar-brand logo"><img src=" {% static "webiel/img/Logo_iel.png" %} "/></a> 
                            <div class="divider_footer"></div>
                            <p>A Visão da Igreja, está centrada em Pessoas salvas e discípuladas para o compromisso com a missão. <strong>Mateus 28:19-20</strong>
                            </p>
                             <div  class="social-links">
                                <a href="https://www.facebook.com/UniaoLage?mibextid=7cd5pb"><i class="bx bxl-facebook"></i></a>
                                <a href="https://api.whatsapp.com/send?phone=244948888293"><i class="bx bxl-whatsapp"></i></a>
                                <a href="https://instagram.com/_igreja_evangelica_do_lubango?igshid=MzMyNGUyNmU2YQ=="><i class="bx bxl-instagram"></i></a>
                                <a href="https://youtube.com/@igrejaevangelicadolubango1944?si=Vi7nACJG4H7Gz0rb"><i class="bx bxl-youtube"></i></a>
                        
                                </div>   
                        </div>
                    </div>
               </div>

                <div class="col-12 col-sm-6 col-lg-3 pt-lg-0">
                    <h6 class="mb-2">
                        <a href="#useful-links" class="d-block text-white dropdown-toggle d-lg-none py-2" data-bs-toggle="collapse">Links</a>
                    </h6>
                    <div id="useful-links" class="collapse d-lg-block footer-iel mb-70" data-bs-parent="#footer-links">
                        <div class="single-footer-widget footer-iel mb-70">
                            <h5 class="widget-title">Links</h5>
                             <div class="divider_footer"></div>
                            <div class="d-flex flex-column gap-2">
                                <a class="text-white" href="{% url 'webiel:mocidade' %}">
                                    <i class="bx bxs-group" aria-hidden="true"></i> Mocidade
                                </a>
                                 <a class="text-white" href="{% url 'webiel:adolescentes' %}">
                                    <i class="bx bxs-group" aria-hidden="true"></i> Adolescentes
                                </a>
                                <a class="text-white" href="{% url 'webiel:devem' %}">
                                    <i class="bx bxs-book" aria-hidden="true"></i> Devem
                                </a>
                                <a class="text-white" href="{% url 'webiel:senhoras' %}">
                                    <i class="bx bx-female" aria-hidden="true"></i> Senhoras
                                </a>
                                <a class="text-white" href="{% url 'webiel:homens' %}">
                                    <i class="bx bxs-user" aria-hidden="true"></i> Homens
                                </a>
                                <a class="text-white" href="{% url 'webiel:musica' %}">
                                    <i class="bx bxs-music" aria-hidden="true"></i> Música
                                </a>
                            </div>

                        </div>
                    </div>
               </div>


               <div class="col-12 col-sm-6 col-lg-3 pt-lg-0">
                  <div class="single-footer-widget footer-iel mb-70">
                    <h6 class="mb-2">
                        <a  href="#social-links" class="d-block text-white dropdown-toggle d-lg-none py-2" data-bs-toggle="collapse">Últimas Notícias</a>
                        </h6>
                        <div id="social-links" class="collapse d-lg-block" data-bs-parent="#footer-links">
                            <div  class="single-footer-widget nav flex-column mb-2 mb-lg-0">
                                <h5  class="widget-title">Últimas Notícias</h5>
                                 <div class="divider_footer"></div>
                                {% for noticias_recente in noticias_recentes|slice:":3" %}
                                    <div class="single-latest-news">
                                        <a style="color:white" href="{% url 'webiel:noticia-view' noticias_recente.slug %}">{{ noticias_recente.title }}</a>
                                        <p style="color:white"><i style="color:white" class="bx bxs-calendar" aria-hidden="true"></i> {{ noticias_recente.dataEvento }} de <script>document.write(new Date().getFullYear());</script> </p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                  </div>
               </div>

               <div class="col-12 col-sm-6 col-lg-3 text-white pt-lg-0">
                <div class="single-footer-widget footer-iel mb-70">
                    <h5  class="widget-title">Contacte-nos</h5>
                     <div class="divider_footer"></div>
                    <div class="contact-information-f">
                        <p style="color:white"><i style="color: #fff" class="bx bxs-map mb-3" aria-hidden="true"></i> Huila, Lubango, Lage</p>

                        <a style="color:white" href="callto:+244939207821"><i style="color: #fff" class="bx bx-mobile-alt mb-3" aria-hidden="true"></i> + (244) 939 207 821</a> 
                        
                        <a style="color:white" href="mailto:secretaria@igrejaevangelicadolubango.org"><i style="color: #fff" class="bx bxs-envelope mb-3" aria-hidden="true"></i> secretaria@igrejaevangelicadolubango.org</a>

                        <p style="color:white" ><i style="color: #fff" class="bx bxs-time-five mb-3" aria-hidden="true"></i>Seg - Sext: 08:00 - 15:30</p>
                    </div>
                   
                </div>
               </div>
          </div>
     </div>

        <!-- Separador -->
     <div class="container">
         <div class="footer-divider"></div>
     </div>
     

      <div class="col-lg-12 col-md-6 col-12 text-white newsletter-box">
       <div class="container">
    
            <p class="newsletter-text">
                Receba novidades e insights exclusivos
            </p>

            <form action="" class="needs-validation newsletter-form" method="post" novalidate>
                {% csrf_token %}

                <div class="newsletter-input">

                    <input 
                        type="email" 
                        id="subscr-email" 
                        name="email" 
                        class="form-control" 
                        placeholder="Digite o seu email"
                        required
                    >


                    <button type="submit" name="enviar">
                        Subscrever
                    </button>

                </div>

                <div class="invalid-tooltip">
                    Por favor insira o seu endereço de Email.
                </div>

            </form>
       </div>
           

       </div>
    
                             
       <!-- Separador -->
     <div class="container">
         <div class="footer-divider"></div>
     </div>
     
  <div class="footer-bottom">
    <div class="container">
        <div class="row align-items-center">

            <!-- Direitos Reservados -->
            <div class="col-md-6">
                <p class="mb-0 text-light footer-copy">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                    IEL. Todos os Direitos Reservados.
                </p>
            </div>


            <!-- Powered By -->
            <div class="col-md-6">
                <p class="powered-by">
                     Powered by 
                    <a class="opacity-70" id="afonso" href="#" target="_blank">
                        <i class='bx bxs-heart'></i> Afonso Miqueias
                    </a>
                </p>
            </div>

        </div>
    </div>
</div>

</footer>


    