{% load static %}

<!-- NAVBAR -->
<div class="top-nav" id="home">
  <div class="container">
      <div class="row justify-content-between">
       <div class="col-auto envolpe-email">
          <p>
            <i class="bx bxs-envelope"></i>
            <span>apoio@iel.org</span>
          </p>
          <p>
            <i class='bx bx-mobile-alt'></i>
            <span>(+244) 934 038 572</span>
          </p>
       </div>
       <div class="col-auto">
            <div class="social-links">
                 <p>
                  <span class="secre">Secretaria da Igreja - 08h - 15h</span>
                 </p>
                 <p><span class="secre">|</span></p>
                 <a href="http://"><i class="bx bxl-facebook"></i></a>
                 <a href="http://"><i class="bx bxl-whatsapp"></i></a>
                 <a href="http://"><i class="bx bxl-instagram"></i></a>
                 <a href="http://"><i class="bx bxl-youtube"></i></a>
            </div>
       </div>
      </div> 
  </div>
 </div>

<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
  <div class="container">
    <a href="{% url "webiel:home" %}" class="navbar-brand logo"><img src=" {% static "webiel/img/logotipo.png" %} "/></a> 
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link active" href="{% url "webiel:home" %}">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url "webiel:sobre_historial" %}">Sobre Nós</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url "webiel:noticia_iel" %}">Notícias</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Departamentos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url "webiel:mocidade" %}">Mocidade</a></li>
              <li><a class="dropdown-item" href="{% url "webiel:devem" %}">Devem</a></li>
              <li><a class="dropdown-item" href="{% url "webiel:senhoras" %}">Sociedade de Senhoras</a></li>
              <li><a class="dropdown-item" href="{% url "webiel:homens" %}">Sociedade de Homens</a></li>
              <li><a class="dropdown-item" href="{% url "webiel:musica" %}">Música</a></li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url "webiel:contato" %}">Contacto</a>
        </li>
      </ul>
      <a href="#" class="btn btn-brand ms-lg-3 w-60" id="btn-brand" data-bs-toggle="modal" data-bs-target="#bancoModal">Banco de Alimentação</a>
    </div>
  </div>
</nav>



<!-- Modal -->
<div class="modal fade" id="bancoModal" tabindex="-1" aria-labelledby="bancoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-0">
          <div class="container-fluid">
            <div class="row gy-4">
              <div class="col-lg-4 col-sm-12 bg-cover"
                style="background-image: url({% static "webiel/img/so.jpg" %}); min-height:300px;">
                <div>
                    
                </div>
              </div>
              <div class="col-lg-8">
                <form action="" class="row p-lg-4 gy-2 mb-0" method="post">
                  {% csrf_token %}
                    <div class="col-12">
                        <h2 style="font-family: "Barlow", sans-serif !important;">Banco de Alimentação</h2>
                        <p class="cuidar">Igreja Evangélica do Lubango!</p>
                        <div class="row justify-content-between">
                          <div class="col-auto">
                            <div class="social-links-modal">
                              <a href="http://"><i class="bx bxl-facebook"></i></a>
                              <a href="http://"><i class="bx bxl-whatsapp"></i></a>
                              <a href="http://"><i class="bx bxl-instagram"></i></a>
                              <a href="http://"><i class="bx bxl-youtube"></i></a>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-12">
                      <p style="text-align: justify; font-size: small;"><span style="font-weight: 400; font-size:12pt;
                        font-family: "Barlow", sans-serif !important;">
                        O Banco de Alimentação da Igreja Evangélica do Lubango é um projecto da Juventude da Igreja
                        que tem como objectivo principal a recolha constante de bens alimentícios e fazer com que eles cheguem
                        a pessoas e lares carentes. Se você tiver alimentos para doar, compartilhe connosco para que possamos ajudar juntos pessoas e lares carentes.
                        Preencha o formulário abaixo e entraremos em contato para recolher sua doação.
                      </span></p>
                    </div>
                    <div class="col-12">
                       <div class="border-top border-primary w-40 mx-auto juntos-content-center mb-4"></div>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" name="nome" class="form-control" id="exampleFormControlInput1" placeholder="Nome Completo" required>
                    </div>
                    <div class="col-lg-6">
                        <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="E-mail" required>
                   </div>
                   <div class="col-lg-6">
                        <input type="number" name="telefone" class="form-control" id="exampleFormControlInput1" placeholder="Telefone" required>
                   </div>
                   <div class="col-lg-6">
                        <input type="text" name="bairro" class="form-control" id="exampleFormControlInput1" placeholder="Bairro" required>
                   </div>
                   <div class="col-12 mb-3">
                       <textarea name="donativo" id=""  class="form-control" placeholder="Qual é o seu donativo?" required></textarea>
                   </div>
                   <div class="col-12">
                       <button type="submit" name="enviar" class="btn btn-brand">Realizar Doação</button>
                   </div>
                </form>
              </div>
            </div>
         </div>
      </div>
    </div>
  </div>
</div>

