{% load static %}

<section id="noticia">
     <div class="container">
          <div class="row g-4">
               <div class="col-ms-12 text-center">
                    <h1 data-aos="fade-up" class="text-dark pt-4 text-uppercase">Notícias</h1>
                    <div class="border-top border-primary w-25 mx-auto my-4"></div>
                    <p class="about_text" data-aos="fade-up"  class="lead "  style="color: #6a6a6a !important;">Fique por dentro e conheça todas as actividades que têm sido realizadas pelos 
                     <br/>    variados departamentos da Igreja Evangélica do Lubango.</p>
               </div>
         </div>

         <div class="row justify-content-center g-4">
           <div class="col-12 col-md-6 col-lg-4">
               <div class="post-blog">
                    <a href="" class="tag">Mesa Redonda</a>
                    <img src=" {% static "webiel/img/post/post_1.png" %} " alt="">
                    <small>12, Dec, 2000</small>
                    <h4><a href="">Mesa Redonda</a></h4>
                    <p class="post-excerpt">Olá amados irmãos como estõa Lorem ipsum dolor sit amet consectetur 
                         adipisicing elit. Magnam distinctio quisquam...</p>
                    <a href="#" class="vermais">Ler Mais <i class='bx bx-chevrons-right'></i></a>
               </div>
           </div>

           <div class="col-12 col-md-6 col-lg-4 mb-5">
               <div class="post-blog">
                    <a href="" class="tag">Mesa Redonda</a>
                    <img src=" {% static "webiel/img/post/post_2.png" %} " alt="">
                    <small>12, Dec, 2000</small>
                    <h4><a href="">Mesa Redonda</a></h4>
                    <p class="post-excerpt">Olá amados irmãos como estõa Lorem ipsum dolor sit amet consectetur 
                         adipisicing elit. Magnam distinctio quisquam...</p>
                    <a href="#" class="vermais">Ler Mais <i class='bx bx-chevrons-right'></i></a>
               </div>
           </div>

           <div class="col-12 col-md-6 col-lg-4 mb-5">
               <div class="post-blog">
                    <a href="" class="tag">Mesa Redonda</a>
                    <img src=" {% static "webiel/img/post/post_1.png" %} " alt="">
                    <small>12, Dec, 2000</small>
                    <h4><a href="">Mesa Redonda</a></h4>
                    <p class="post-excerpt">Olá amados irmãos como estõa Lorem ipsum dolor sit amet consectetur 
                         adipisicing elit. Magnam distinctio quisquam...</p>
                    <a href="#" id="vermais" class="vermais">Ler Mais <i class='bx bx-chevrons-right'></i></a>
               </div>
           </div>

         </div>
         
     </div>
</section>