{% load static %}

<section id="about_page" class="about_page bg-cover">
     <div class="container">
          <div class="col-ms-12 text-center mt-6 my-5">
               <h1 data-aos="fade-up" class="text-white pt-4">NOTÍCIAS/</h1>
               <div  data-aos="fade-up"  class="border-top border-primary w-25 mx-auto my-4"></div>
               <p class="about_text text-white" data-aos="fade-up"  class="lead" style="font-weight: 400; font-size:12pt;
               font-family: "Barlow", sans-serif !important;">Fique por dentro e conheça todas as actividades que têm sido realizadas pelos 
                    <br/>    variados departamentos da Igreja Evangélica do Lubango.</p>
           </div>
     </div>
</section>

<section id="noticia">
     <div  class="container mt-5 mb-4">
          <div class="row justify-content-center g-4 mb-3">
               {% for noticia in page_obj %}
               <div data-aos="flip-left" class="col-12 col-md-6 col-lg-4">
                    <div class="post-blog">
                         <div class="card">
                              <a href="{% url 'webiel:noticia-view' noticia.slug %}" class="tag">{{ noticia.category }}  </a>
                              <div class="post-imagem overflow-hidden">
                                <img src=" {{ noticia.cover.url }} " class="card-img-top" alt="temporario">
                              </div>
                              <div class="card-body">
                                 <h5><a style="font-weight: 700;
                                    font-family: "Barlow", sans-serif !important;" href="{% url 'webiel:noticia-view' noticia.slug %}">{{ noticia.title }} </a></h5>
                                 <small class="mt-4" style="text-decoration: none; color: #8ba2bd;"> 
                                   <i class='bx bxs-calendar'></i> {{ noticia.creted_at|date:"d/m/Y" }} 
                                 </small>
                                 <small>
                                    <i class='bx bx-timer'></i>  {{ noticia.creted_at|date:"H:i" }}
                                 </small>
                                 <a style="color: #8ba2bd;">
                                 <i style="color: #8ba2bd;" class="bx bxs-user" aria-hidden="true">
                                 {{ noticia.author.first_name }}   {{ noticia.author.last_name }}
                                 </i></a>
                                 <p class="card-text" style="font-weight: 400;
                                 font-family: "Barlow", sans-serif !important;">{{ noticia.description|slice:":94"}}... </p>
                                 <a href="{% url 'webiel:noticia-view' noticia.slug %}" class="btn btn-light" style="color:#26599D !important;">Ler mais 
                                <i class='bx bx-chevrons-right'></i></a>
                              </div>
                         </div>
                    </div>
                </div>
               {% empty %}
                   <div class="center m-y">
                     <h2> Não tem Noticias </h2>
                   </div>
               {% endfor %} 
          </div>
          
          <!-- Paginação -->
          <nav aria-label="Page navigation">
              <ul class="pagination">
                  {% if page_obj.has_previous %}
                      <li class="page-item">
                          <a class="page-link" href="#noticia?page=1" aria-label="First">
                              <span aria-hidden="true">&laquo;&laquo;</span>
                          </a>
                      </li>
                      <li class="page-item">
                          <a class="page-link" href="#noticia?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                          </a>
                      </li>
                  {% else %}
                      <li class="page-item disabled">
                          <a class="page-link" aria-label="First">
                              <span aria-hidden="true">&laquo;&laquo;</span>
                          </a>
                      </li>
                      <li class="page-item disabled">
                          <a class="page-link" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                          </a>
                      </li>
                  {% endif %}

                  {% for num in page_obj.paginator.page_range %}
                      {% if page_obj.number == num %}
                          <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                      {% elif num > page_obj.number|add:-3 and num < page_obj.number|add:3 %}
                          <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                      {% endif %}
                  {% endfor %}

                  {% if page_obj.has_next %}
                      <li class="page-item">
                          <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                          </a>
                      </li>
                      <li class="page-item">
                          <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                              <span aria-hidden="true">&raquo;&raquo;</span>
                          </a>
                      </li>
                  {% else %}
                      <li class="page-item disabled">
                          <a class="page-link" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                          </a>
                      </li>
                      <li class="page-item disabled">
                          <a class="page-link" aria-label="Last">
                              <span aria-hidden="true">&raquo;&raquo;</span>
                          </a>
                      </li>
                  {% endif %}
              </ul>
          </nav>
     </div>
</section>


