{% load static %}


<section id="preg" class="bg-cover">
     <div class="container mb-5">
         <div class="row g-4">
               <div class="col-ms-12 text-center">
                    <h1 data-aos="fade-up" class="text-white pt-4 text-uppercase">Cultos on-line</h1>
                    <div class="border-top border-primary w-25 mx-auto my-4"></div>
                    <p class="about_text text-white" data-aos="fade-up"  class="lead" style="font-weight: 400;
                    font-family: "Barlow", sans-serif !important;">Acompanhe os cultos que temos frequentemente preparado para si,
                         esperamos que sejas edificado!</p>
               </div>
               <div class="container">
                <div class="row">
                    <div class="col-ms-12">
                        <div data-aos="fade-up" class="container text-center mt-5">
                            <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fweb.facebook.com%2FUniaoLage%2Fvideos%2F477012481665092%2F&show_text=false&width=560&t=0" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                            <div id="fb-root"></div>
                            <script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>
                        </div>
                    </div>
                </div>
               </div>
         </div>
  </div>
</section>


<!-- <div class="container text-center mt-5">
    <a href="https://web.facebook.com/share/v/ixBCaBXuUUXUT8jv/" target="_blank" class="btn-play">
        <span class="play-icon"></span>
    </a>
</div> -->