{% load static %}



              <section id="hero" class="hero section dark-background">

                <img src=" {% static "webiel/img/c.jpg" %} " alt="" data-aos="fade-in">
          
                <div class="container">
                  <div class="row">
                    <div class="col-xl-4">
                      <h1 data-aos="fade-up" class="text-white">Cultos On-line</h1>
                      <blockquote data-aos="fade-up" data-aos-delay="100">
                        <p>Acompanhe os cultos que temos frequentemente preparados para si. Esperamos que cada momento seja de grande edificação espiritual e crescimento em sua jornada de fé.
                          <br/>
                          "Porque onde estiverem dois ou três reunidos em meu nome, ali estou no meio deles." – <strong>Mateus 18:20</strong> 
                      </blockquote>
                      <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                        <a href="#about" class="btn btn-brand">Iniciar</a>
                        <a href="https://youtu.be/e4AbUTNTEJU?si=u5VkVgFHK6VYEiv7" class="glightbox btn-watch-video d-flex align-items-center"><i class='bx bx-play-circle' ></i><span>Assistir Culto</span></a>
                      </div>
                    </div>
                  </div>
                </div>
          
              </section><!-- /Hero Section -->



<!-- <div class="container text-center mt-5">
    <a href="https://web.facebook.com/share/v/ixBCaBXuUUXUT8jv/" target="_blank" class="btn-play">
        <span class="play-icon"></span>
    </a>
</div> -->