{% load static %}

<!-- SLIDER -->
<div class="slider-wrapper owl-carousel owl-theme" id="hero-slider">
  
     <div class="slide1 min-vh-100 bg-cover d-flex align-items-center">
       <div class="container">
         <div class="row">
           <div class="col-12">
             <h6  class="text-uppercase slider_text ">Seja Bem - Vindo(a) <strong>igreja evangélica do Lubango</strong></h6>
             <h1 class="display-2 my-3 text-uppercase text-white">Saiba Quem Somos</h1>
             <a  href="{% url "webiel:sobre_historial" %}" class="btn btn-brand">Sobre Nós</a>
           </div>
         </div>
       </div>
     </div>
     
      <div class="slide2 min-vh-100 bg-cover d-flex align-items-center">
          <div class="container">
            <div class="row">
              <div class="col-12 text-center">
                  <h6 class="text-uppercase  slider_text">A voz do Evangelho</h6>
                  <h1  class="display-2 my-3 text-uppercase text-white">CultoS Radiofonicos  <br/> ISPI 93.3</h1>
                  <a  href="https://radioispi.com/index.php" target="_blank" rel="noopener noreferrer" class="btn btn-brand" id="btn-brand">Rádio ISPI</a>
              </div>
            </div>
          </div>
      </div>

      <div class="slide3 min-vh-100 bg-cover d-flex align-items-center">
          <div class="container">
            <div class="row">
              <div class="col-12 text-end">
                <h6  class="text-uppercase slider_text"> Conheça e participe dos programas semanais</h6>
                <h1  class="display-2 my-3 text-uppercase text-white">Nossos Programas</h1>
                <a  href="{% url "webiel:noticia_iel" %}" class="btn btn-brand" id="btn-brand">Programas</a>
              </div>
            </div>
          </div>
      </div>
</div>


