{% load static %}

<!-- SLIDER -->
<div class="slider-wrapper owl-carousel owl-theme" id="hero-slider">

     <div class="slide1 min-vh-100 bg-cover d-flex align-items-center">
       <div class="container">
         <div class="row">
           <div class="col-12">
             <h6 data-animation="fadeInUp" data-delay="100ms" class="text-uppercase text-white">Seja Bem - Vindo(a) <strong class="">igreja evangélica do Lubango</strong></h6>
             <h1 data-animation="fadeInUp" data-delay="400ms"class="display-2 my-3 text-uppercase text-white">Saiba Quem Somos</h1>
             <a data-animation="fadeInUp" data-delay="500ms" href="#" class="btn btn-brand">Agenda</a>
           </div>
         </div>
       </div>
     </div>

      <div class="slide2 min-vh-100 bg-cover d-flex align-items-center">
          <div class="container">
            <div class="row">
              <div class="col-12 text-center">
                <h6 data-animation="fadeInUp" data-delay="100ms" class="text-uppercase text-white">A voz do Evangelho</h6>
                <h1 data-animation="fadeInUp" data-delay="400ms"  class="display-2 my-3 text-uppercase text-white">CultoS Radiofonicos  <br/> ISPI 93.3</h1>
                <a data-animation="fadeInUp" data-delay="500ms"  href="#" class="btn btn-brand" id="btn-brand">I.S.P.I</a>
              </div>
            </div>
          </div>
      </div>


        <div class="slide3 min-vh-100 bg-cover d-flex align-items-center">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h6 data-animation="fadeInUp" data-delay="100ms"  class="text-uppercase text-white">Programas</h6>
                <h1 data-animation="fadeInUp" data-delay="400ms"  class="display-2 my-3 text-uppercase text-white">Nossos Programas</h1>
                <a data-animation="fadeInUp" data-delay="500ms"  href="{% url "webiel:noticia_iel" %}" class="btn btn-brand" id="btn-brand">Ver Mais</a>
              </div>
            </div>
          </div>
        </div>

 </div>


