@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

body.dark-theme {
    background-color: #333333;
    color: #ffffff;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

small {
    text-decoration: none !important;
}

body {
    font-family: "Barlow", sans-serif !important;
    line-height: 1.7;
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700 !important;
    color: #092932;
    font-family: "Arial", sans-serif !important;
    font-weight: bold;
}

a {
    color: #000;
    text-decoration: none !important;
    transform: all 0.4s ease;
    font-weight: 500;
}

.logo img {
    width: 45px;
}


img {
    width: 100%;
}

.bg-cover {
    background-position: center !important;
    background-size: cover !important;
    background-position: center !important;
}

section {
    margin: 0;
    overflow: hidden;
}

/* NAVBAR */

.navbar .nav-link {
    color: #094089 !important;
    font-weight: 600;
}

@media (max-width: 858px) {
    .envolpe-email {
        display: none;
    }
}

@media (max-width: 768px) {
    .social-links {
        text-align: center;
        /* Centraliza os links sociais */
    }

    .social-links a {
        margin-right: 5px;
        /* Reduz o espaçamento entre os ícones */
        margin-bottom: 5px;
        /* Reduz o espaçamento abaixo dos ícones */
    }

    .social-links p {
        display: none;
        /* Mantém o espaçamento abaixo do parágrafo */
    }
}

.social-links a {
    width: 34px;
    height: 34px;
    background: linear-gradient(135deg, #1e4d8a, #00c2ff);
    display: inline-flex;
    color: #ffff;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 100%;
    text-decoration: none;
}

.social-links p span {
    margin-bottom: 2px;
    display: inline-block;
    color: #ffff;
    height: 34px;
    font-weight: 500;
}

.social-links a:hover {
    background: linear-gradient(135deg, #ffffff, #e4edf0);
    color: #ffffff;
    transition: all 0.4s ease;

}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;

    padding: 15px 0;

    background:
        linear-gradient(270deg,
            rgba(255, 255, 255, 0.99) 0%,
            rgba(255, 255, 255, 0.98) 20%,
            rgba(255, 255, 255, 0.92) 40%,
            rgba(255, 255, 255, 0.80) 55%,
            rgba(30, 77, 138, 0.25) 75%,
            rgba(30, 77, 138, 0.60) 90%,
            rgba(30, 77, 138, 0.60) 100%),
        url("../img/slider/preg.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;
    color: #fff;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border-bottom: 7px solid #094089;

    box-shadow: 0 10px 35px rgba(0, 0, 0, .12);

    transition: .4s;
}

.navbar {
    box-shadow: 0px 6px 30px rgba(255, 255, 255, 0.018);
}

.nav-link {
    color: #ffffff;
    position: relative;
}

.navbar .navbar-nav .nav-link:hover {
    color: #ffffff;
}

/* Mobile e Tablet */
@media (max-width: 991.98px) {

    .navbar .nav-link {
        color: #ffffff !important;
    }

    .navbar .nav-link:hover {
        color: #ffffff !important;
    }

    .navbar .nav-link.active {
        color: #ffffff !important;
    }

}


@media (min-width: 991px) {

    .navbar .navbar-nav .nav-link::before {
        content: "" !important;
        position: absolute !important;
        bottom: 0 !important;
        left: 50% !important;
        transform: translate(-50%) !important;
        width: 0 !important;
        height: 2px !important;
        background-color: #26599D !important;
        visibility: hidden !important;
        transition: 0.3s ease-in-out !important;
        color: #ffffff !important;
    }

    .navbar .navbar-nav .nav-link:hover::before {
        width: 100% !important;
        visibility: visible !important;
    }
}

.navbar-nav li>a {
    font-weight: 400;
    color: #ffffff;
}

/*DropDown */
.dropdown-menu .dropdown-item {
    color: #fff !important;
    padding: 12px 18px;
    font-weight: 500;
    transition: all .3s ease;
    background: linear-gradient(135deg, #26599D, #00AEEF);
}

.dropdown-menu .dropdown-item:hover {
    background: rgba(255, 255, 255, 0.15) !important;
    color: #0c4a9a !important;
    transform: translateX(5px);
}

.dropdown-menu .dropdown-item:active {
    background: rgba(255, 255, 255, 0.20) !important;
}

.dropdown-toggle::after {
    margin-left: 8px;
}

.dropdown-menu a:hover {
    background-color: #0c4a9a !important;
    color: #0c4a9a !important;
}

/* BTN */
.btn {
    padding: 9px 24px;
    font-weight: 500;
}

.btn-brand {
    background-color: #26599D;
    color: #ffffff;
    border-color: #26599D;
    font-size: 20px;
}

a.btn.btn-brand {
    color: #fff;
    font-weight: 700;
    border: none;
    padding: 10px 22px;
    border-radius: 25px;
    background: linear-gradient(135deg, #26599D, #00AEEF);
    box-shadow: 0 6px 15px rgba(38, 89, 157, 0.3);
    transition: all 0.3s ease;
    text-decoration: none;
    text-transform: uppercase;
}

a.btn.btn-brand:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(38, 89, 157, 0.45);
    background: linear-gradient(135deg, #1e4d8a, #00c2ff);
    color: #fff;
}

button.btn.btn-brand {
    color: #fff;
    font-weight: 700;
    border: none;
    padding: 10px 22px;
    border-radius: 25px;
    background: linear-gradient(135deg, #26599D, #00AEEF);
    box-shadow: 0 6px 15px rgba(38, 89, 157, 0.3);
    transition: all 0.3s ease;
    text-decoration: none;
    text-transform: uppercase;
}

button.btn.btn-brand:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(38, 89, 157, 0.45);
    background: linear-gradient(135deg, #1e4d8a, #00c2ff);
    color: #fff;
}

button.btn.btn-brand1 {
    background-color: #9d2626 !important;
    color: #ffffff;
    border-color: #9d2626 !important;
    font-weight: 400;
    border-width: 5px;
}

button.btn.btn-brand1:hover {
    color: #ffffff !important;
    background-color: #9d2626 !important;
    border-color: #9d2626;
}

/* Slider */

.slide1 {
    background: linear-gradient(rgba(7, 28, 43, 0), rgba(7, 27, 41, 0.5)), url(../img/slider/slider_2.jpg);
}

.slide2 {
    background: linear-gradient(rgba(7, 28, 43, 0), rgba(7, 27, 41, 0.5)), url(../img/slider/slider_3.jpg);
}

.slide3 {
    background: linear-gradient(rgba(7, 28, 43, 0), rgba(7, 27, 41, 0.5)), url(../img/slider/slider_4.jpg);
}

.slider_text {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: clamp(42px, 6vw, 72px);
    font-weight: 900;
    line-height: 1;
    letter-spacing: -2px;
    text-transform: uppercase;
    text-shadow:
        0 4px 10px rgba(0, 0, 0, .35),
        0 10px 30px rgba(0, 0, 0, .45);
    max-width: 900px;
    margin-bottom: 20px;
}

.slider_text span {
    display: block;
    background: #ffff;
    -webkit-background-clip: text;
    font-weight: 900;
}

.section3 {

    letter-spacing: 2px;
    text-transform: uppercase;

    color: #00c2ff;

    background: rgba(1, 146, 182, 0.12);

    padding: 6px 12px;

    border-radius: 50px;

    font-size: 12px;

    margin-bottom: 15px;
}

/*Owl Carousel*/

.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    width: 55px !important;
    height: 60px !important;
    display: grid;
    place-items: center;
    background-color: #ffffff41 !important;
    margin-top: -30px !important;
    color: #fff !important;
    font-family: 700 !important;
    font-size: 12px !important;
    border-radius: 100px !important;
}

.owl-next {
    right: 0.3%;
}

.owl-prev {
    left: 0.3%;
}

.owl-prev:hover,
.owl-next:hover {
    background: linear-gradient(135deg, #1e4d8a, #00c2ff) !important;
    transform: translateY(-3px);
}

/*INFOBOX ABOUT*/

/* SECTION */
.about {
    padding: 80px 0;
    background-color: #f9f8f8;
}

.about_text_intro span {
    font-family: "Inter", sans-serif;
    color: #1e4d8a !important;
}

/* INTRO TEXT */
.about_text {
    font-family: "Inter", sans-serif;
    font-size: 16px !important;
    font-weight: 500;
    color: #07254d;
    line-height: 1.7;
}

/* INFO BOX */
.info-box {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
    border-radius: 12px;
    transition: all 0.3s ease;
}

.info-box:hover {
    transform: translateY(-5px);
    background: rgba(38, 89, 157, 0.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

/* INFO BOX IMAGE */
.info-box img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    transition: all 0.3s ease;
    padding: 3px;
    background: linear-gradient(135deg, #1e4d8a, #00c2ff);

}


.info-box:hover img {
    transform: scale(1.08);
    box-shadow: 0 8px 20px rgba(38, 89, 157, 0.3);
}

/* TITLES */
.info-box h5 {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #1e4d8a !important;
}

/* PARAGRAPH */
.info-box p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    margin: 0;
    font-size: 14px;
    color: #555;
}

/* IMAGE WRAPPER */
.iel {
    text-align: center;
}

.iel .img-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

/* OVERLAY */
.iel .overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom,
            rgba(25, 49, 85, 0.2),
            rgba(25, 49, 85, 0.85));
    opacity: 0;
    transition: all 0.4s ease;
}

/* SOCIAL LINKS */
.iel .social-links {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.4s ease;
}

.iel:hover .overlay {
    opacity: 5;
}

.iel:hover .social-links {
    opacity: 1;
    top: 50%;
}

/* SOCIAL ICONS */
.iel .social-links a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    margin: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.15);
    color: #fff;
    transition: all 0.3s ease;
}

.iel .social-links a:hover {
    background: linear-gradient(135deg, #00AEEF, #26599D);
    transform: translateY(-3px);
}

/* CONTENT */
.iel h5 {
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #1e4d8a !important;
}

.iel p {
    font-style: italic;
    color: #666;
}

/*CASAMENTOS*/

#milestone {
    position: relative;
    background: linear-gradient(rgba(25, 49, 85, 0.8),
            rgba(25, 49, 85, 0.9)),
        url(../img/casa1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 100px 0;
}

/* CONTENT WRAPPER */
.milestone-content {
    max-width: 800px;
    margin: auto;
}

/* TITLE */
.milestone-title {
    color: #fff;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: clamp(32px, 5vw, 54px);
    text-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
    font-family: "Inter", sans-serif;
}

/* DIVIDER */
.divider {
    width: 120px;
    height: 3px;
    background: linear-gradient(90deg, #1e4d8a, #00c2ff);
    margin: 20px auto;
    border-radius: 50px;
}

/* TEXT */
.milestone-text {
    color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
    line-height: 1.8;
    font-family: "Barlow", sans-serif;
    margin-bottom: 30px;
}

/* BUTTON */
.milestone-btn {
    padding: 12px 28px;
    font-weight: 600;
    border-radius: 50px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
}

.milestone-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.35);
}

/*CARTAS*/
#cartas {
    background: #eef0f3;
    padding: 80px 0;
}

/* CARD */
.carta-box {
    padding: 35px 25px;
    background: #fff;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
    height: 100%;
}

.carta-box:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}

/* IMAGE */
.carta-box img {
    width: 120px;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

.carta-box:hover img {
    transform: scale(1.08);
}

/* TITLE */
.carta-box h5 {
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    color: #082750;
    margin-bottom: 10px;
}

/* TEXT */
.carta-box p {
    font-family: "Barlow", sans-serif;
    font-size: 14px;
    color: #555;
    line-height: 1.6;
}

/* MAIN DIVIDER */
.divider {
    width: 120px;
    height: 3px;
    background: linear-gradient(90deg, #1e4d8a, #00c2ff);
    margin: 15px auto;
    border-radius: 50px;
}

/* SMALL DIVIDER */
.divider-sm {
    width: 60px;
    height: 2px;
    background: #26599D;
    margin: 10px auto;
    border-radius: 50px;
}

/*PREGAÇÕES*/

#pregacao {
    position: relative;
    background: linear-gradient(rgba(25, 49, 85, 0.85),
            rgba(10, 20, 40, 0.9)),
        url(../img/preg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 100px 0;
    color: #fff;
}

/* LAYOUT */
.live-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    flex-wrap: wrap;
}

/* TAG SMALL */
.section-tag {
    display: inline-block;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #00c2ff;
    margin-bottom: 15px;
}

/* TEXT */
.live-text {
    flex: 1;
    min-width: 300px;
}


.live-text h1 {
    font-size: clamp(32px, 4vw, 52px);
    font-weight: 800;
    margin-bottom: 20px;
    text-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

.live-text p {
    font-size: 18px;
    line-height: 1.7;
    opacity: 0.9;
}

/* BLOCKQUOTE */
.live-text blockquote {
    margin-top: 25px;
    font-style: italic;
    padding-left: 20px;
    border-left: 3px solid #00c2ff;
    opacity: 0.85;
}

/* VIDEO CONTAINER */
.live-video {
    flex: 1;
    min-width: 320px;
    position: relative;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 25px 70px rgba(0, 0, 0, 0.6);
    transition: all 0.4s ease;
}

.live-video:hover {
    transform: translateY(-5px) scale(1.01);
}

/* IFRAME */
.live-video iframe {
    width: 100%;
    height: 420px;
    border: none;
}

/* OVERLAY */
.video-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    transition: 0.4s ease;
}

.video-overlay {
    opacity: 1;
    transition: opacity 0.4s ease;
    pointer-events: none;
}

.live-video {
    cursor: pointer;
}

.live-video:hover .video-overlay {
    opacity: 0;
    pointer-events: none;
}

/* MOBILE */
@media (max-width: 768px) {
    .live-container {
        flex-direction: column;
        text-align: center;
    }

    .live-text blockquote {
        border-left: none;
        padding-left: 0;
    }
}

/* Responsivo */

@media (max-width: 992px) {
    .live-container {
        flex-direction: column;
        text-align: center;
    }

    .live-text h1 {
        font-size: 36px;
    }

    .live-video iframe {
        height: 250px;
    }
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 120px 0 60px;
    display: flex;
    align-items: center;
}

@media (min-width: 1200px) {
    .hero:after {
        position: absolute;
        content: "";
        width: 44%;
        background-image: linear-gradient(180deg, color-mix(in srgb, #134892, transparent 15%), color-mix(in srgb, #02162f, transparent 15%) 100%), linear-gradient(180deg, rgb(0, 0, 0), rgb(0, 0, 0) 100%);
        top: 0;
        bottom: 0;
        z-index: 2;
    }
}

.hero:before {
    position: absolute;
    content: "";
    background: color-mix(in srgb, rgba(25, 49, 85, 0.9), transparent 30%);
    inset: 0;
    z-index: 2;
}

.hero img {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.hero .container,
.hero .container-fluid {
    z-index: 3;
    position: relative;
}

.hero h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: 700;
}

.hero blockquote {
    color: color-mix(in srgb, white, transparent 20%);
    padding-left: 20px;
    border-left: 2px solid #26599D;
    margin: 40px 0;
}

.hero .btn-get-started {
    color: white;
    background: #26599D;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 50px;
    transition: 0.5s;
}

.hero .btn-get-started:hover {
    background: color-mix(in srgb, #26599D 90%, white 15%);
}

.hero .btn-watch-video {
    font-size: 16px;
    transition: 0.5s;
    margin-left: 25px;
    color: white;
    font-weight: 600;
}

.hero .btn-watch-video i {
    color: color-mix(in srgb, #78797a, transparent 70%);
    font-size: 32px;
    transition: 0.3s;
    line-height: 0;
    margin-right: 8px;
}

.hero .btn-watch-video:hover {
    color: white;
}

.hero .btn-watch-video:hover i {
    color: white;
}

@media (max-width: 640px) {
    .hero h1 {
        font-size: 28px;
        line-height: 36px;
    }

    .hero .btn-get-started,
    .hero .btn-watch-video {
        font-size: 13px;
    }
}

.btn-play {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #26599D;
    border: none;
    color: white;
    font-size: 36px;
    transition: background-color 0.3s, transform 0.3s;
    text-decoration: none;
    overflow: hidden;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.3);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.3);
    }

    50% {
        box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
    }

    100% {
        box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.3);
    }
}

.btn-play::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) 70%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s;
}

.btn-play:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.btn-play:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

.btn-play:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(4, 56, 110, 0.5);
}

.play-icon {
    width: 0;
    height: 0;
    border-left: 24px solid white;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
}

#project-slider .owl-next,
#project-slider .owl-prev {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

#project-slider .owl-next:hover,
#project-slider .owl-prev:hover {
    background-color: #26599D !important;
}

.project {
    position: relative;
}

.project .overlay {
    background: linear-gradient(to bottom, rgba(9, 32, 50, 0.0), rgba(9, 32, 50, 0.8));
    position: absolute;
    width: 100%;
    height: 240px;
    bottom: 0;
    left: 0;
}

.project .content {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 32px;
}

.project h1,
.project h6 {
    color: #ffff;
}

.project h6 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.project h6::before {
    content: '';
    height: 2px;
    width: 24px;
    background-color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
}

.owl-dot.activte span {
    background-color: #26599D !important;
}

.post-blog img {
    padding: 0;
}


/* ===========================
   NOTÍCIAS
=========================== */


#noticia {

    background: #f6f8fb;

    padding: 90px 0;

}


/* HEADER */

.about_text_intro {

    font-size: 42px;

    font-weight: 900;

    color: #123;

}


.about_text_intro span {

    color: #26599D;

}


.about_text {

    max-width: 750px;

    margin: auto;

    color: #666;

    font-size: 17px;

}



/* DIVIDER */

.divider {

    width: 120px;

    height: 4px;

    margin: 20px auto;

    border-radius: 50px;

    background:
        linear-gradient(90deg,
            #1e4d8a,
            #00c2ff);

}

/*=========================================
            CARD
=========================================*/

.post-card {

    position: relative;

    background: #fff;

    border-radius: 18px;

    overflow: hidden;

    transition: .4s;

    box-shadow:
        0 12px 35px rgba(0, 0, 0, .08);

    height: 100%;
}

.post-card:hover {

    transform: translateY(-8px);

    box-shadow:
        0 25px 45px rgba(0, 0, 0, .14);

}


/*=========================================
            CATEGORIA
=========================================*/

.post-category {

    position: absolute;

    top: 18px;

    left: 18px;

    z-index: 10;

    padding: 8px 18px;

    border-radius: 50px;

    text-decoration: none;

    color: #fff;

    font-size: 12px;

    font-weight: 600;

    background:
        linear-gradient(135deg,
            #26599D,
            #00c2ff);
}


/*=========================================
            IMAGEM
=========================================*/

.post-image {

    overflow: hidden;

    height: 240px;
}

.post-image img {

    width: 100%;

    height: 100%;

    object-fit: cover;

    transition: .5s;
}

.post-card:hover img {

    transform: scale(1.08);
}


/*=========================================
            CONTEÚDO
=========================================*/

.post-content {

    padding: 25px;
}


/*=========================================
            TÍTULO
=========================================*/

.post-title {

    margin-bottom: 15px;
}

.post-title a {

    color: #193155;

    text-decoration: none;

    font-family: "Barlow", sans-serif;

    font-size: 23px;

    font-weight: 700;

    transition: .3s;
}

.post-title a:hover {

    color: #26599D;
}


/*=========================================
            META
=========================================*/

.post-meta {

    display: flex;

    flex-wrap: wrap;

    gap: 15px;

    margin-bottom: 18px;

    color: #7b8ca8;

    font-size: 13px;
}

.post-meta span {

    display: flex;

    align-items: center;

    gap: 5px;
}

.post-meta i {

    color: #26599D;
}


/*=========================================
            TEXTO
=========================================*/

.post-description {

    color: #666;

    line-height: 1.8;

    margin-bottom: 20px;

    font-size: 15px;
}


/*=========================================
            BOTÃO
=========================================*/

.read-more {

    display: inline-flex;

    align-items: center;

    gap: 8px;

    text-decoration: none;

    font-weight: 700;

    color: #26599D;

    transition: .3s;
}

.read-more:hover {

    gap: 14px;

    color: #193155;
}


/*=========================================
            MOBILE
=========================================*/

@media(max-width:991px) {

    .post-image {

        height: 210px;

    }

    .post-title a {

        font-size: 20px;

    }

}

/* CARD */


.post-card {

    background: #fff;

    border-radius: 20px;

    overflow: hidden;

    height: 100%;

    box-shadow:
        0 15px 40px rgba(0, 0, 0, .08);

    transition: .4s;

}


.post-card:hover {

    transform: translateY(-10px);

}


/* IMAGE */

.post-image {

    height: 240px;

    position: relative;

    overflow: hidden;

}


.post-image img {

    width: 100%;

    height: 100%;

    object-fit: cover;

    transition: .5s;

}


.post-card:hover img {

    transform: scale(1.1);

}


.image-overlay {

    position: absolute;

    inset: 0;

    background:
        linear-gradient(transparent,
            rgba(0, 0, 0, .35));

}


/* TAG */

.post-tag {

    position: absolute;

    top: 20px;

    left: 20px;

    padding: 7px 16px;

    background:
        linear-gradient(135deg,
            #26599D,
            #00c2ff);


    color: #fff;

    border-radius: 50px;

    font-size: 12px;

    font-weight: 600;

    text-decoration: none;

}


/* BODY */

.post-body {

    padding: 25px;

}


.post-body h5 {

    margin-bottom: 12px;

}


.post-body h5 a {

    color: #111;

    font-size: 19px;

    font-weight: 800;

    text-decoration: none;

}


.post-body h5 a:hover {

    color: #26599D;

}


/* META */


.post-meta {

    display: flex;

    gap: 15px;

    flex-wrap: wrap;

    font-size: 12px;

    color: #777;

}


.post-meta i {

    color: #26599D;

}



.post-body p {

    color: #666;

    line-height: 1.7;

}


/* BUTTON */


.read-more {

    display: inline-flex;

    align-items: center;

    gap: 5px;

    margin-top: 10px;

    color: #26599D;

    font-weight: 700;

    text-decoration: none;

}

.read-more:hover {

    gap: 10px;

}

/* PAGINATION */


.pagination {

    margin-top: 50px;

    justify-content: center;

    gap: 8px;

}

.pagination li a {

    width: 42px;

    height: 42px;

    display: flex;

    align-items: center;

    justify-content: center;

    border-radius: 50%;

    background: #fff;

    color: #26599D;

    font-weight: 600;

    text-decoration: none;

    box-shadow: 0 5px 15px rgba(0, 0, 0, .08);

}

.pagination li.active a {

    background:
        linear-gradient(135deg,
            #26599D,
            #00c2ff);

    color: #fff;

}

/* ==========================================================================
   FOOTER SECTION
   ========================================================================== */

footer {
    position: relative;
    background: linear-gradient(rgba(25, 49, 85, 0.85),
            rgba(10, 20, 40, 0.9)),
        url(../img/slider/slider_1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 100px 0;
    color: #fff;
}

.divider_footer {
    width: 120px;
    height: 3px;
    background: linear-gradient(90deg, #1e4d8a, #00c2ff);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: auto;
    border-radius: 50px;
}

/* ==========================
   NEWSLETTER FOOTER
========================== */

.newsletter-box {

    text-align: left;

}


.footer-title {

    color: #fff;

    font-size: 20px;

    font-weight: 700;

    margin-bottom: 15px;

}


.newsletter-text {

    color: rgba(255, 255, 255, .75);

    font-size: 14px;

    line-height: 1.7;

    margin-bottom: 20px;

}


/* Campo */

.newsletter-input {

    position: relative;

    display: flex;

    align-items: center;

    max-width: 420px;

}


.newsletter-input input {

    height: 50px;

    width: 100%;

    padding-left: 45px;

    padding-right: 130px;

    border-radius: 50px;

    border: none;

    outline: none;

    background: rgba(255, 255, 255, .95);

}

.newsletter-input i {

    position: absolute;

    left: 18px;

    font-size: 20px;

    color: #1e4d8a;

    z-index: 2;

}

/* Botão dentro do input */

.newsletter-input button {

    position: absolute;

    right: 5px;

    top: 5px;

    height: 40px;

    padding: 0 22px;

    border: none;

    border-radius: 50px;


    background: linear-gradient(135deg,
            #1e4d8a,
            #00c2ff);


    color: #fff;

    font-weight: 600;

    cursor: pointer;

    transition: .3s;

}

.newsletter-input button:hover {

    transform: translateY(-2px);

    box-shadow: 0 8px 20px rgba(0, 194, 255, .35);

}

.footer-bottom {
    padding: 20px 0;
}

.footer-copy {
    font-weight: 500;
    font-size: 15px;
    margin: 0;
}

.powered-by {

    margin: 0;

    text-align: right;

    color: #fff;

    font-size: 15px;

    font-weight: 500;

}

#afonso {

    color: rgb(185, 71, 71);

    font-family: "Barlow", sans-serif;

    font-weight: 600;

    text-decoration: none;

    transition: .3s;

}

#afonso:hover {

    color: #00c2ff;

}

/* Responsivo */
@media(max-width:767px) {

    .footer-copy,
    .powered-by {

        text-align: center;

        margin-top: 10px;

    }

}

/*=====================
NEWS
======================*/

.single-latest-news {
    padding-bottom: 18px;
    margin-bottom: 18px;
    border-bottom: 1px solid rgba(255, 255, 255, .08);
}

.single-latest-news:last-child {
    margin-bottom: 0;
    border: none;
}

.single-latest-news a {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}

.single-latest-news p {
    margin-top: 8px;
    color: #bfc8d8;
    font-size: 13px;
    font-style: italic;
}

/*=====================
CONTACTO
======================*/

.contact-information-f a,
.contact-information-f p {
    display: flex;
    align-items: flex-start;
    gap: 14px;
    margin-bottom: 18px;
    line-height: 1.7;
}

.contact-information-f a:hover i {
    transform: translateY(-4px);
}

/*=====================
SOCIAL
======================*/

.social-links {
    display: flex;
    gap: 12px;
    margin-top: 25px;
}

.social-links a {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(255, 255, 255, .08);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    transition: .35s;
}

.social-links a:hover {
    background: linear-gradient(135deg, #00AEEF, #26599D);
    transform: translateY(-3px);
}

.footer-divider {

    width: 100%;
    height: 1px;

    margin: 35px auto 25px;

    background: linear-gradient(90deg,
            transparent,
            #1e4d8a,
            #00c2ff,
            #1e4d8a,
            transparent);

    opacity: .8;
}


/*=====================
RESPONSIVO
======================*/

@media(max-width:991px) {

    .footer-area {
        padding: 70px 0 20px;
    }

    .widget-title {
        margin-top: 25px;
    }

    .footer-bottom {
        text-align: center;
    }

}

/*MODAL SOCIAL-LINKS*/

.social-links-modal a {
    width: 30px;
    height: 30px;
    background-color: #26599D;
    display: inline-flex;
    color: #ffff;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-radius: 100%;
    text-decoration: none;
}

.social-links-modal a:hover {
    background-color: #ffffff;
    color: #26599D;
}

/*MODAL BANCO-ALIMENTAR*/
.modal-content {
    background: rgba(1, 146, 182, 0.85);
    border: none;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4);
}

.post-tags-share {
    margin-bottom: 20px;
}

.popular-tags li>a {
    font-family: 'Inter', sans-serif;
    color: #094089 !important;
    text-decoration: wavy;
}

.form-control:focus {
    box-shadow: none !important;
    border-color: none !important;
}

.form-control {
    border: none !important;
    background: #dce3eb !important;
    font-size: 15px !important;
    padding: 12px !important;
}

.form-label {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
}

.cuidar {
    display: inline-block;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #00c2ff;
    background: rgba(1, 146, 182, 0.12);
    padding: 6px 12px;
    border-radius: 50px;
    font-size: 12px;
    margin-bottom: 15px;

}

.cuidar:hover {
    color: #26599D;
}

.modal-body h2 {
    text-transform: uppercase !important;
    font-family: Arial, Helvetica, sans-serif;
}

/*====================================================
            HERO - ABOUT PAGE
====================================================*/

#about_page {

    min-height: 430px;

    display: flex;

    align-items: center;

    position: relative;

    background:
        linear-gradient(90deg,
            rgba(25, 49, 85, 0.8),
            rgba(25, 49, 85, 0.9)),
        url("../img/3.jpeg");

    background-position: center;

    background-size: cover;

    background-repeat: no-repeat;

    background-attachment: fixed;

    padding: 100px 0;

}

.about-title {

    font-family: "Barlow", sans-serif;

    color: #fff;

    font-size: 44px;

    font-weight: 800;

    letter-spacing: 2px;

    text-transform: uppercase;

}

.about-divider {

    width: 130px;

    height: 4px;

    margin: 20px auto;

    border-radius: 50px;

    background:
        linear-gradient(90deg,
            #26599D,
            #00c2ff);

}


.about-navigation {
    position: relative;
    z-index: 10;
    isolation: isolate;

    margin-top: -35px;
    margin-bottom: 50px;
}

.about-navigation .container {
    background: #ffffff;
    border-radius: 20px;
    padding: 15px;

    box-shadow:
        0 15px 45px rgba(0, 0, 0, .10);

    position: relative;
}

/* Remove estilos globais */

.about-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


/*==========================================================
                    BOTÃO MOBILE
==========================================================*/

.about-toggler {

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    padding: 14px 20px;

    border: none;
    outline: none;

    cursor: pointer;

    color: #ffffff;

    background:
        linear-gradient(135deg,
            #26599D,
            #00c2ff);

    border-radius: 14px;

    font-family: "Barlow", sans-serif;
    font-size: 16px;
    font-weight: 700;

    transition: .35s ease;

    box-shadow:
        0 10px 25px rgba(38, 89, 157, .25);
}

.about-toggler:hover {
    transform: translateY(-2px);
}

.about-toggler i {
    font-size: 24px;
}


.about-tabs {

    display: flex;

    justify-content: center;

    align-items: center;

    flex-wrap: wrap;

    gap: 10px;
}

.about-tabs li {
    flex: 0 0 auto;
}

.about-tabs li a {

    display: flex;

    align-items: center;

    justify-content: center;

    min-height: 45px;

    padding: 12px 22px;

    text-decoration: none;

    font-family: "Barlow", sans-serif;

    font-size: 14px;

    font-weight: 600;

    color: #193155;

    background: #ffffff;

    border-radius: 50px;

    border: 1px solid rgba(38, 89, 157, .12);

    transition: all .35s ease;
}

/* Hover */

.about-tabs li a:hover {

    color: #ffffff;

    background:
        linear-gradient(135deg,
            #26599D,
            #00c2ff);

    transform: translateY(-3px);

    box-shadow:
        0 12px 25px rgba(38, 89, 157, .25);
}

/* Página activa */

.about-tabs li a.active {

    color: #ffffff;

    border-color: transparent;

    background:
        linear-gradient(135deg,
            #26599D,
            #00c2ff);

    box-shadow:
        0 10px 25px rgba(38, 89, 157, .30);
}

#aboutMenu {
    transition: .35s ease;
}


.about-title {

    font-family: "Barlow", sans-serif;

    font-size: 42px;

    font-weight: 800;

    letter-spacing: 2px;

    text-transform: uppercase;

    color: #ffffff;
}

.about-divider {

    width: 120px;

    height: 3px;

    margin: 20px auto;

    border-radius: 50px;

    background:
        linear-gradient(90deg,
            #26599D,
            #00c2ff);
}


.post-title-his {

    font-family: "Barlow", sans-serif;

    font-size: 38px;

    font-weight: 800;

    color: #193155;

    margin-bottom: 25px;
}

.single-post-details-area p {

    color: #555;

    font-size: 16px;

    line-height: 1.9;

    text-align: justify;

    margin-bottom: 18px;
}



.popular-tags {

    display: flex;

    flex-wrap: wrap;

    gap: 8px;

    margin: 0;

    padding: 0;
}

.popular-tags li {
    list-style: none;
}

.popular-tags li a {

    display: inline-block;

    padding: 7px 14px;

    text-decoration: none;

    font-size: 13px;

    font-weight: 600;

    color: #26599D;

    background: #eef6ff;

    border-radius: 30px;

    transition: .30s;
}

.popular-tags li a:hover {

    background: #26599D;

    color: #ffffff;
}


/*==========================================================
                    REDES SOCIAIS
==========================================================*/

.social-links-his {

    display: flex;

    gap: 10px;
}

.social-links-his a {

    width: 45px;

    height: 45px;

    display: flex;

    align-items: center;

    justify-content: center;

    text-decoration: none;

    font-size: 18px;

    color: #ffffff;

    border-radius: 50%;

    background:
        linear-gradient(135deg,
            #26599D,
            #00c2ff);

    transition: .35s ease;
}

.social-links-his a:hover {

    transform: translateY(-5px);

    box-shadow:
        0 15px 30px rgba(38, 89, 157, .35);
}


@media (max-width: 991px) {

    .social-links-his {
        display: none !important;
    }

}


/*==========================================================
                    TABLET E MOBILE
==========================================================*/

@media (max-width:991px) {

    .about-navigation {

        margin-top: -20px;

        margin-bottom: 35px;
    }

    .about-navigation .container {

        padding: 12px;

        border-radius: 18px;
    }

    .about-toggler {
        display: flex;
    }

    #aboutMenu {
        margin-top: 15px;
    }

    .about-tabs {

        flex-direction: column;

        align-items: stretch;

        gap: 8px;
    }

    .about-tabs li {
        width: 100%;
    }

    .about-tabs li a {

        width: 100%;

        justify-content: flex-start;

        padding: 14px 18px;

        border-radius: 14px;

        font-size: 14px;
    }

    .post-title-his {
        font-size: 30px;
    }

    .social-links-his {
        margin-top: 20px;
    }

}


/*==========================================================
                DESKTOP
==========================================================*/

@media (min-width:992px) {

    .about-toggler {
        display: none;
    }

}


/*==========================================================
                TELEMÓVEIS PEQUENOS
==========================================================*/

@media (max-width:480px) {

    .about-navigation {

        margin-top: -15px;
    }

    .about-toggler {

        padding: 12px;

        font-size: 14px;
    }

    .about-tabs li a {

        font-size: 13px;

        padding: 12px 15px;
    }

}


/*==========================================================
                MODAIS BOOTSTRAP
==========================================================*/

.modal {
    z-index: 1055 !important;
}

.modal-backdrop {
    z-index: 1050 !important;
}

/* CONTATO */

#contact {
    background-color: #fffffff0;
}

.row .info-box {
    display: flex;
    align-items: center;
}

.form-control1:focus {
    box-shadow: none !important;
    border-color: none !important;
}

.form-control1 {
    border: none !important;
    background: #dce3eb !important;
    font-size: 15px !important;
    padding: 12px !important;
}


.contact-information {
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.19);
    background: #ffff;
    padding: 10px !important;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .row .info-box {
        flex-direction: column;
        align-items: flex-start;
        /* Ajuste conforme necessário */
    }

    .form-control1 {
        width: 100%;
        /* Para ocupar toda a largura disponível */
        margin-bottom: 5px;
        /* Espaçamento inferior entre os controles */
    }

    .contat-content-form {
        padding: 20px;
        /* Espaçamento interno maior */
    }
}

.map-area {
    position: relative;
    z-index: 2;
}

.map-area iframe {
    width: 100%;
    height: 570px;
    border: none;
    margin-bottom: 0;
}


/* DEPARTAMENTO DA MOCIDADE */

#mocidade {
    background: linear-gradient(rgba(25, 49, 85, 0.9), rgba(25, 49, 85, 0.9)), url(../img/slider/slider_1.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

/* GALERIA */
.gallery-item {
    position: relative;
    margin-bottom: 15px;
    display: none;
    /* Inicialmente oculto */
    transition: transform 0.3s ease;
    /* Adiciona transição suave */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}


.gallery-item:hover {
    transform: scale(1.1) !important;
}

.gallery-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;

}

.gallery-item img {
    width: 100%;
    height: auto;
}

.gallery-item:hover .overlay {
    opacity: 1;
}

.gallery-item:hover .overlay-content {
    opacity: o;
}

/* FLUTUANTE */

.fab-container {
    position: fixed;
    bottom: 80px;
    right: 16px;
}

.fab-icon-holder {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(185, 71, 71);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
    color: #fff;
    box-shadow: 0 0 0 5px rgba(14, 1, 1, 0.9);
    animation: pulse 2s infinite;
}

.fab-icon-holder i {
    font-size: 18px;
    align-items: center;
}

.fab-options {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 70px;
    left: 0;
    display: none;
}

.fab-options li {
    margin-bottom: 10px;
}

.fab-options li {
    font-size: 25px;
}

.fab-options li .fab-icon-holder {
    background-color: #26599D;
}


/* NOTICIA-VIEWS */

/* Estilos para o título da postagem */

.blog-post-area .single-post-details-area {
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1) !important;
    transition: 0.3s !important;
}

.blog-post-area .single-post-details-area .post-imagem img {
    transition: 0.5s !important;
}

.blog-post-area .single-post-details-area:hover .post-imagem img {
    transform: scale(1.1) !important;
}

.post-blog .card {
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1) !important;
    transition: 0.3s !important;
}

.post-blog .card .post-imagem img {
    transition: 0.5s !important;
}

.post-blog .card:hover .post-imagem img {
    transform: scale(1.1) !important;
}

.evento {
    text-transform: uppercase;
    color: #26599D;
}

.evento:hover {
    color: #06172c;
}

.post-title {
    font-size: 30px;
    font-weight: bold;
    color: #26599D;
}

/* Estilos para a meta da postagem (data e autor) */
.post-meta {
    font-size: 14px;
    color: black;
    margin-bottom: 15px;
}

.post-meta small {
    font-size: 14px;
    color: #8ba2bd !important;
    margin-bottom: 15px;
    padding: 3px;
}

.post-meta a {
    font-size: 14px;
    color: #8ba2bd !important;
    margin-bottom: 20px;
    padding: 5px;
}

/* Estilos para a imagem de capa */
.post-thumbnail img {
    width: 65%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.post-thumbnail img:hover {
    transform: scale(1.05);
}


.blockquote {
    margin-left: 20px !important;
    background-color: #dfeaf5 !important;
}

/* Estilos para o bloco de citação */
.blockquote-text {
    padding: 15px;
    border-left: 3px solid #26599D;
    margin: 20px 0;
}

.blockquote-text h6 {
    font-size: 15px;
    color: #63768f;
    margin-bottom: 5px;
}

.blockquote-text h5 {
    font-size: 16px;
    font-style: italic;
    color: #5b5656 !important;
    margin-bottom: 5px;
    font-weight: 100;
}

/* Estilos para o autor da citação */
.blockquote-text span {
    color: #969292;
    font-size: 15px;
    font-weight: 500;
}

/* Estilos para as notícias recentes */
.single-latest-post {
    margin-bottom: 15px;
}

.single-latest-post a {
    color: #26599D;
    text-decoration: none;
    font-weight: bold;
}

.single-latest-post a:hover {
    text-decoration: underline;
}

/* Responsividade */
@media (max-width: 992px) {
    .post-title {
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    .post-meta {
        font-size: 12px;
    }
}


.fade-out {
    animation: fadeOut 0.5s forwards;
}

.fade-in {
    animation: fadeIn 0.5s;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.event-card {
    margin-bottom: 30px;
}

.event-card .card-header {
    background-color: #26599D;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.contact-info {
    background-color: #e9ecef;
    padding: 20px;
    border-radius: 5px;
    margin-top: 30px;
}

.contact-info h5 {
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #26599D;
    border-color: #007bff;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-secondary:hover {
    background-color: #5a6268;
    transform: scale(1.05);
}




/*--------------------------------------------------------------
  # Scroll Top Button
  --------------------------------------------------------------*/
.scroll-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: -15px;
    z-index: 99999;
    background-color: rgb(185, 71, 71);
    width: 44px;
    height: 44px;
    border-radius: 50px;
    transition: all 0.4s;
}

.scroll-top i {
    font-size: 24px;
    color: white;
    line-height: 0;
}

.scroll-top:hover {
    background-color: color-mix(in srgb, #0056b3, transparent 20%);
    color: #26599D;
}

.scroll-top.active {
    visibility: visible;
    opacity: 1;
    bottom: 15px;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    inset: 0;
    z-index: 999999;
    overflow: hidden;
    background-color: white;
    transition: all 0.6s ease-out;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #26599D;
    border-top-color: color-mix(in srgb, #26599D, transparent 90%);
    ;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: animate-preloader 1.5s linear infinite;
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.btn-light {
    background-color: white !important;
}


/* ===========================
   BOTÃO WHATSAPP FLUTUANTE
=========================== */

.whatsapp-btn {

    position: fixed;

    right: 25px;

    bottom: 90px;

    width: 55px;

    height: 55px;

    display: flex;

    align-items: center;

    justify-content: center;

    background: #25D366;

    color: #fff;

    border-radius: 50%;

    font-size: 32px;

    text-decoration: none;

    z-index: 9999;

    box-shadow:
        0 8px 25px rgba(37, 211, 102, .45);

    transition: .35s ease;

}


.whatsapp-btn:hover {

    background: #1ebe5d;

    color: #fff;

    transform: scale(1.12) translateY(-5px);

}


/* efeito de pulsação */

.whatsapp-btn::before {

    content: "";

    position: absolute;

    width: 100%;

    height: 100%;

    border-radius: 50%;

    background: #25D366;

    z-index: -1;

    animation: pulse-whatsapp 1.8s infinite;

}

@keyframes pulse-whatsapp {

    0% {

        transform: scale(1);

        opacity: .5;

    }


    100% {

        transform: scale(1.7);

        opacity: 0;

    }

}


/* Mobile */

@media(max-width:576px) {

    .whatsapp-btn {

        width: 50px;

        height: 50px;

        right: 15px;

        bottom: 85px;

        font-size: 28px;

    }

}


/*====================================
        BREADCRUMB
====================================*/

.breadcrumbs {

    background: #f5f7fa;

    padding: 15px 0;

    border-bottom: 1px solid #eee;

}


.breadcrumbs ol {

    margin: 0;

    padding: 0;

    list-style: none;

    display: flex;

    gap: 10px;

}


.breadcrumbs a {

    text-decoration: none;

    color: #26599D;

    font-weight: 600;

}


.breadcrumbs strong {

    color: #333;

}





/*====================================
        CARD PRINCIPAL
====================================*/


.single-news-section {

    padding: 40px 0;

}


.news-details-card {

    background: #fff;

    border-radius: 20px;

    overflow: hidden;

    box-shadow:

        0 15px 40px rgba(0, 0, 0, .08);

}



.news-image {

    height: 500px;

    overflow: hidden;

}


.news-image img {

    width: 100%;

    height: 100%;

    object-fit: cover;

    transition: .5s;

}


.news-details-card:hover img {

    transform: scale(1.05);

}





/*====================================
        CORPO
====================================*/


.news-body {

    padding: 20px;

}



.news-title {

    font-family: "Barlow", sans-serif;

    font-size: 20px;

    font-weight: 800;

    color: #193155;

    line-height: 1.3;

}



.news-meta {

    display: flex;

    flex-wrap: wrap;

    gap: 20px;

    margin: 20px 0;

    color: #8ba2bd;

    font-size: 14px;

}



.news-meta span {

    display: flex;

    align-items: center;

    gap: 6px;

}


.news-meta i {

    color: #26599D;

}


/*====================================
        DATA EVENTO
====================================*/


.event-date {

    display: inline-flex;

    align-items: center;

    gap: 8px;

    padding: 10px 18px;

    border-radius: 50px;

    background: #eef6ff;

    color: #26599D;

    font-weight: 700;

    margin-bottom: 25px;

}



/*====================================
        CITAÇÃO
====================================*/


.news-quote {


    position: relative;

    padding: 10px;

    margin: 10px 0;


    background:

        linear-gradient(135deg,
            #f5f9ff,
            #ffffff);


    border-left: 5px solid #26599D;

    border-radius: 10px;


}


.news-quote i {

    font-size: 20px;

    color: #26599D;

}



.news-quote p {

    font-size: 15px;

    font-style: italic;

    font-weight: 600;

    color: #333;

}



.news-quote h6 {

    color: #26599D;

    font-weight: 700;

}


.news-quote span {

    color: #777;

    font-weight: 400;

}





/*====================================
        TEXTO
====================================*/


.news-content {

    font-family: "Arial", sans-serif;

    font-size: 15px;

    line-height: 1.9;

    color: #555;

    text-align: justify;

}



/*====================================
        SIDEBAR
====================================*/


.news-sidebar {

    background: #fff;

    padding: 25px;

    border-radius: 20px;


    box-shadow:

        0 15px 40px rgba(0, 0, 0, .08);

}



.news-sidebar h3 {


    font-family: "Barlow";

    font-size: 15px;

    font-weight: 800;

    color: #193155;

    margin-bottom: 25px;

}


.recent-news {


    display: flex;

    gap: 15px;

    padding-bottom: 20px;

    margin-bottom: 20px;

    border-bottom: 1px solid #eee;

}



.recent-news img {

    width: 70px;

    height: 60px;

    object-fit: cover;

    border-radius: 12px;

}



.recent-news h6 {


    font-size: 15px;

    font-weight: 700;

    line-height: 1.4;

    margin: 0;

}



.recent-news a {

    text-decoration: none;

    color: #193155;

}



.recent-news a:hover {

    color: #26599D;

}



.recent-news span {

    font-size: 12px;

    color: #8ba2bd;

}





/*====================================
        MOBILE
====================================*/


@media(max-width:768px) {


    .news-image {

        height: 250px;

    }


    .news-body {

        padding: 20px;

    }


    .news-title {

        font-size: 26px;

    }


    .news-content {

        font-size: 15px;

    }


}