{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
     
<head>
    <meta
    name="theme-color"
    content="#26599D"
    
    />
    <!-- HEAD-->
{% include 'webiel/partials/head.html' %}


<title>I.E.L {% block title %}{% endblock title %}</title>

</head>
 
<body data-bs-spy="sroll" data-bs-target=".navbar">
    <!-- NAVBAR-HEADER -->
    {% include 'webiel/partials/butão_flutuar.html'%}
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="line-preloader"></div>
    </div>
    {% include 'webiel/partials/header.html'%}
    {% block content %}{% endblock content %}
    <!-- FOOTER -->
    {% include 'webiel/partials/footer.html'%}
    
<!-- BODY -->
{% include 'webiel/partials/body.html' %}
