@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@900&display=swap');


body{
     font-family: "Barlow", sans-serif;
     line-height:  1.7;
     color: #000;
}

h1,h2,h3,h4,h5,h6 {
     font-weight: 700 !important;
     color: #092932;
}

a {
     color: #092932;
     text-decoration: none;
     transform: all 0.4s ease;
     font-weight: 500;
}

img {
     width: 100%;
}



/* NAVBAR */
.top-nav {
    background-color: rgba(0, 0, 255, 0.662);
    padding-top: 5px;
    padding-bottom: 5px;
}

.top-nav p{
     margin-bottom: 0;
     display: inline-block;
     margin-right: 16px;
     color: #ffff;
}

.top-nav i,
.top-nav span {
     vertical-align: middle;
}

.social-links a {
     width: 34px;
     height: 34px;
     background-color: rgba(255, 255, 255, 0.3);
     display: inline-flex;
     color: #ffff;
     align-items: center;
     justify-content: center;
     font-size: 20px;
     border-radius: 100%;
     text-decoration: none;
}

.social-links a:hover {
     background-color: #ffffff;
     color: rgba(0, 0, 255, 0.662);
}

.navbar {
     box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}

.navbar-brand {
     font-weight: 1000;
     font-size: 30px;
     color: rgba(11, 11, 164, 0.662);
}

#navbar-brand {
     font-weight: 1000;
     font-size: 30px;
     color: rgba(0, 0, 255, 0.662);
}

.navbar-nav li> a{
     text-transform: uppercase;
}



/* BTN */
.btn {
    padding: 9px 24px; 
    font-weight: 500;
}

.btn-brand {
    background-color: rgba(0, 0, 255, 0.662);
    color: #ffffff;
    border-color: rgba(0, 0, 255, 0.662);
}

#btn-brand {
    background-color: rgba(0, 0, 255, 0.662);
    color: #ffffff;
    border-color: rgba(0, 0, 255, 0.662);
    text-transform:uppercase;
}