{% load static %}

<section id="about_page" class="about_page bg-cover mb-0">
     <div class="container">
          <div class="col-ms-12 text-center mt-6 my-5">
               <h1 data-aos="fade-up" class="text-white pt-4">SOBRE NÓS/</h1>
               <div class="border-top border-primary w-25 mx-auto my-4"></div>
               <p class="about_text text-white" data-aos="fade-up"  class="lead ">Estamos localizados no Lubango, e no mundo inteiro pela Igreja Online. 
               Não importa onde você estiver, <br/> se junte a nós. O que encontrar aqui?</p>
           </div>
     </div>
</section>


<nav class="navbar navbar-expand-lg bg-body-tertiary">
     <div class="container-fluid">
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse justify-content-center align-items-center" id="navbarTogglerDemo03">
          <ul class="nav nav-tabs mb-2 mb-lg-0" id="nav-tabs">
               <li class="nav-item">
                 <a class="nav-link" href=" {% url "webiel:sobre_historial" %} ">Historial</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href=" {% url "webiel:sobre_missao" %} ">Missão, Visão e Valores</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="{% url "webiel:sobre_estatuto" %}">Estatuto</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="{% url "webiel:sobre_pacto" %}">Nosso Pacto</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="{% url "webiel:sobre_fe" %}">Declaração de Fé</a>
               </li>
               <li class="nav-item">
                <a class="nav-link" href="{% url "webiel:sobre_pratica" %}">Declaração Prática</a>
               </li>
          </ul>
       </div>
     </div>
</nav>

<section>
     <div class="col-12 col-lg-12">
          <div class="container">
               <div class="row justify-content-between">
                    <div class="post-area">
                         <div class="single-post-details-area mt-3">
                              <h2 class="post-title-his">Declaração da Fé</h2>
                              <div class="post-tags-share d-flex justify-content-between align-items-center">
                                    <!-- Tags -->
                            <ol class="popular-tags d-flex flex-wrap mb-5">
                              <li><a href="#">Igreja Evangelica do Lubango,</a></li>
                              <li><a href="">Fundada em "19 de Maio de 1944"!</a></li>
                            </ol>
                          <!-- Share -->
                          <div class="social-links-his mb-0">
                              <a href="http://"><i class="bx bxl-facebook"></i></a>
                              <a href="http://"><i class="bx bxl-whatsapp"></i></a>
                              <a href="http://"><i class="bx bxl-instagram"></i></a>
                              <a href="http://"><i class="bx bxl-youtube"></i></a>
                         </div>
                      </div>
                
                      <p style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;"><b>1 - As Escrituras</b></span></p>
                      <p style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;">Toda Escritura foi inspirada por Deus; isto é, foi separada por Deus, pelo que toda a Escritura é a palavra de Deus escrita, e é supremamente autoritária e todos os assuntos de doutrina e de comportamento. A inspiração divina garante que essa revelação foi dada originalmente sem erro. (Salmos 19:17; 119:9; Romanos 15:14; 16:26; II Timóteo 3:16-17; II Pedro 1:20-21).</span></p>
                      <p style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;"><b>2 - A Trindade</b></span></p>
                      <p style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;">A DEIDADE existe eternamente em três pessoas: O Pai, o Filho e o Espírito Santo, cada um tendo precisamente a mesma natureza divina, e os mesmos atributos, sendo esses três um só Deus. (Deuteronômio 6:4; João 1:1; 4:24; 10:30; 17:1,3 e Actos 5:3,4).</span></p>
                      <p style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;"><b>3 - Jesus Cristo</b></span></p>
                      <p style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;">Jesus Cristo, o Filho Eterno, é Deus encarnado. A encarnação inclui a concepção divina divina, o nascimento virginal, e a e a humanidade verdadeira de Cristo, mas sem pecado. A morte de Cristo foi uma expiação voluntária e vicária (como) substituto, e é universalmente suficiente pelos pecados de todo o mundo. A sua ressurreiçao e ascensão foram corporais, assim como será a sua volta. Este mesmo Jesus voltará pessoal e visivelmente. Entretanto Ele é o nosso advogado actual para com o Pai. (Mateus 1:21,23; Licas 1:35; João 1:1, 14, 18; Actos 1:9-11; 13:38-39; I Pedro 2:24; I João 2:2).</span></p>
                      <p style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;"><b>4 - O Espírito Santo</b></span></p>
                      <p style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;">O Espírito Santo é aquele que convence os homens do pecado, baptizando-os no corpo de Cristo na altura da Conversão. Ele sela os crentes, habita neles, santifica-os, enche-os produzindo neles frutos do Espírito e poder para serviço. O Espírito Santo concededons espirituais aos crentes como Ele quer. (João 3:5-7, 16:7-11; Actos 1:8, I Coríntios. 12:13; 6:19-20; Gálatas. 5:16; Efésios. 4:13).</span></p>
                      <p style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;"><b>5 - Satanás</b></span></p>
                      <p style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;">Satanás é o inimigo mortal de Deus. Ele procura usurpar a autoridade de Deus e enganar a humanidade. Através da morte de Cristo, o poder de satanás quebrantado e a sua derrota final foi assegurada. Ao fim será lançado para toda a eternidade no lago de fogo. (I Coríntios 4:3 ,4; II Coríntios 11:11-14; I Pedro 5:8-9; I João 3:8; Apocalipse 12:9, 20:10).</span></p>
                      <p style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;"><b>6 - O Homem</b></span></p>
                      <p style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;">O Homem criado por Deus, foi inocente. Na pessoa de Adão, revoltou-se contra Deus, e por isso é um pecador por natureza, e eincapaz por sí mesmo a agradar a Deus. Se não for salvo pela graça de Deus, isto é, justificado unicamente pela sua fé em Cristo é condendo ao castigo eterno. O crente será ressuscitado, com o corpo espiritual, para viver em comunhão eterna com Deus. (I Coríntios 15:44; Tito 3:8; Hebreus 9:11,12; I João 5:13; Apocalipse 20:15).</span></p>
                      <p style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;"><b>1 - O Baptismo</b></span></p>
                      <p style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;">Cremos que o baptismo bíblico é só para os crentes. Não baptizamos bebês. Praticamos como regra o baptismo por imersão.</span></p>
                      <p style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;"><b>2 - Santa Ceia</b></span></p>
                      <p style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;">Aceitamos à mesa do Senhor todos os crentes que estejam em plena comuhnão com Deus e com as suas respectivas igrejas que professam a mesma fé e ordem (I Coríntios 11:23-29).</span></p>
                      <p style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;"><b>3 - A Disciplina</b></span></p>
                      <p style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;">Cada Igreja será responsável pela manutenção e pureza da dotrina e do testemunho dos seus membros. Qualquer membro da Igreja que Deixe de cumprir os seus deveres perante o padrão bíblico, que mostre pela sua vida estar a viver em desonra ao Santo Nome de Deus e que depois de ser aconselhado não se arrepende será demitido de membro.</span></p>
                      <p style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;"><b>4 - O Casamento</b></span></p>
                      <p style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;">Serão celebrados pela Igreja os casamentos em que dois nubentes sejam membros em plena comunhão com a sua Igreja. (II Coríntios 6:14). </span><br /><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;">O sexo está reservado para o contexto do casamento entre homem e mulher (Gênesis 2:24, 4:1; Mateus 19:6; Marcos 10:7; I Tessalonicenses 4:3-7; Hebreus 13:14). Por conseguinte, a Igreja encoraja a abstinência sexual antes do casamento, com vista a preservar o princípio do temor a Deus. Os casamentos cujos nubentes infringiram os aspectos acima citados, estarão isentos de cerimônia religiosa.</span></p>
                      <p style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;"><b>5 - Dedicação de Crianças</b></span></p>
                      <p style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;">Os membros da União de Igrejas Evangélicas de Angola praticam a dedicação (consagração ou apresentação) das crianças desde que um dos pais seja membro baptizado em plena comunhão.</span></p>
                      <p style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;"><b>6 - Comportamento</b></span></p>
                      <p style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;">Reconhecendo que há certa controvérsia entre cristãos, quanto, especialmente a venda ou o uso do tabaco, e das bebidas alcoolicas, e aos bailes e outras práticas culturais que atentem contra o padrão bíblicp (consulta aos adivinhos, horóscopo, magia, consulta de mortos, feitiçaria, etc.... Deuteronônio 18:9-14), nós em confirmidade com esse padrão de santidade visto que não há nesses vícios proveito algum, mas sim prejuízos afirmamos a nossa posição contra eles (Gálatas 5:19-22; Romanos 24:21).</span></p>
                      <p style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;"><b>7 - Atos Fúnebres</b></span></p>
                      <p style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;">Reconhecendo que há certa controvérsia entre cristãos quanto ao entendimento sobre os actos fúnebres, serão celebrados pela igreja aqueles em que:</span></p>
                      <ul>
                      <li>
                      <p style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;"><b>a) </b>O falecido tenha sido membro em plena comunhão (ou sob disciplina) desta Igreja;</span></p>
                      </li>
                      <li>
                      <p style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;"><b>b) </b>O falecido tenha sido assistente regenerado com evidência de bom testemunho;</span></p>
                      </li>
                      <li>
                      <p style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;"><b>c) </b>O falecido tenha sido menor de 12 anos que viveu em comunhão de mesa com membro da Igreja;</span></p>
                      </li>
                      <li>
                      <p style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;"><b>NB </b>Os casos omissos são remetidos ao conselho ou assembleia que poderá por sua vez remetê-los a denominação U.I.E.A.</span></p>
                      </li>
                      </ul>
    

                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</section>








