{% load static %}

<section id="about_page" class="about_page bg-cover mb-0">
     <div class="container">
          <div class="col-ms-12 text-center mt-6 my-5">
               <h1 data-aos="fade-up" class="text-white pt-4">SOBRE NÓS/</h1>
               <div class="border-top border-primary w-25 mx-auto my-4"></div>
               <p class="about_text text-white" data-aos="fade-up"  class="lead ">Estamos localizados no Lubango, e no mundo inteiro pela Igreja Online. 
               Não importa onde você estiver, <br/> se junte a nós. O que encontrar aqui?</p>
           </div>
     </div>
</section>


<nav class="navbar navbar-expand-lg bg-body-tertiary">
     <div class="container-fluid">
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse justify-content-center align-items-center" id="navbarTogglerDemo03">
          <ul class="nav nav-tabs mb-2 mb-lg-0" id="nav-tabs">
               <li class="nav-item">
                 <a class="nav-link" href=" {% url "webiel:sobre_historial" %} ">Historial</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href=" {% url "webiel:sobre_missao" %} ">Missão, Visão e Valores</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="{% url "webiel:sobre_estatuto" %}">Estatuto</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="{% url "webiel:sobre_pacto" %}">Nosso Pacto</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="{% url "webiel:sobre_fe" %}">Declaração de Fé</a>
               </li>
               <li class="nav-item">
                <a class="nav-link" href="{% url "webiel:sobre_pratica" %}">Declaração Prática</a>
               </li>
          </ul>
       </div>
     </div>
</nav>

<section>
     <div class="col-12 col-lg-12">
          <div class="container">
               <div class="row justify-content-between">
                    <div class="post-area">
                         <div class="single-post-details-area mt-3">
                              <h2 class="post-title-his">Missão, Visão e Valores</h2>
                              <div class="post-tags-share d-flex justify-content-between align-items-center">
                                    <!-- Tags -->
                            <ol class="popular-tags d-flex flex-wrap mb-5">
                              <li><a href="#">Igreja Evangelica do Lubango,</a></li>
                              <li><a href="">Fundada em "19 de Maio de 1944"!</a></li>
                            </ol>
                          <!-- Share -->
                          <div class="social-links-his mb-0">
                              <a href="http://"><i class="bx bxl-facebook"></i></a>
                              <a href="http://"><i class="bx bxl-whatsapp"></i></a>
                              <a href="http://"><i class="bx bxl-instagram"></i></a>
                              <a href="http://"><i class="bx bxl-youtube"></i></a>
                         </div>
                      </div>
                      <p style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;">A <b> Visão da Igreja</b>, está centrada na existência de Homens e Mulheres salvas e discipuladas para o compromisso com a missão de Deus, até Jesus Voltar (Mateus 28:19-20; II Timóteo 2:2; Êxodo 18).</span></p>
                      <p style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;">A <b>Missão da Igreja</b>, consiste em ser uma agência missionária (Mateus. 28:19-20), um santuário de Deus, comunidade Santa (I Coríntios. 3:16), para o alcance das almas perdidas (João. 3:16), com vista a transformação espiritual e comunhão. Baseada na palavra de Deus (II Timóteo. 3:16; Salmos. 119:105; João. 5:19) que proporcione desenvolvimento integral, unidade da fé, pleno conhecimento de Jesus, crescimento espiritual, aperfeiçoamento dos membros (Efésios. 4:11-13; 15) organizada como um corpo, orientada pelo Espírito Santo (I Coríntios. 12:12), em constante expansão onde cada membro possa exercer o dom que Deus lhe deu para a edificação do corpo de Cristo (I Coríntios. 12; Efésios. 4:12), até a medida da estatura de Cristo (Efésios. 4:13).</span></p>
                      <p style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;"> <strong>A Igreja tem os seguintes valores:</strong></span></p>
                      <ul style="text-align: justify; font-size: small;">
                      <li><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;">Amor aos perdidos (Lucas. 19:9).</span></li>
                      <li><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;">Desejo de mudança de comportamento da sociedade (II Coríntios. 5:17).</span></li>
                      <li><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;">Obediência a palavra de Deus (Mateus. 28:19-20).</span></li>
                      <li><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;">Reverência a Deus (Lucas. 19:45-46).</span></li>
                      <li><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;">Compromisso com Deus (João. 4:13, 24) (Tiago. 1:26-27).</span></li>
                      <li><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;">Desejo de ter um lugar que transborde o Espírito Santo.</span></li>
                      </ul>
                      <p style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;"><strong>Como Igreja que somos, temos como Objectivos:</strong></span></p>
                      <ul style="text-align: justify; font-size: small;">
                      <li><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;">Uma Igreja, onde cada Membro possa exercer o seu dom.</span></li>
                      <li><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;">Uma Igreja em constante expansão.</span></li>
                      <li><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;">Uma Igreja onde se verifica a unidade da Fé.</span></li>
                      <li><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;">Uma Igreja com o pleno conhecimento de Cristo.</span></li>
                      <li><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;">Uma Igreja organizada como um só corpo.</span></li>
                      <li><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;">Uma Igreja que aperfeiçoa os membros.</span></li>
                      <li><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;">Uma Igreja que promove o desenvolvimento Integral.</span></li>
                      <li><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;">Uma Igreja Baseada na Palavra de Deus, orientada pelo Espírito Santo.</span></li>
                      </ul>   
                          
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</section>








