{% load static %}

<section id="about_page" class="about_page bg-cover mb-0">
     <div class="container">
          <div class="col-ms-12 text-center mt-6 my-5">
               <h1 data-aos="fade-up" class="text-white pt-4" style="
                        font-family: "Barlow", sans-serif !important;">SOBRE NÓS/</h1>
               <div class="border-top border-primary w-25 mx-auto my-4"></div>
               <p class="about_text text-white" data-aos="fade-up"  class="lead" style="font-weight: 400; font-size:12pt;
                        font-family: "Barlow", sans-serif !important;">Estamos localizados no Lubango, e no mundo inteiro <br/>
               pela Igreja Online. Não importa onde você estiver, se junte a nós.  Esta Igreja é  <br/>
               liderada pelo Reverendo Nelito Fernando Mumbomdeiro.</p>
           </div>
     </div>
</section>


<nav data-aos="zoom-in-up" class="navbar navbar-expand-lg bg-body-tertiary">
     <div class="container-fluid">
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse justify-content-center align-items-center" id="navbarTogglerDemo03">
          <ul class="nav nav-tabs mb-2 mb-lg-0" id="nav-tabs">
               <li class="nav-item">
                 <a class="nav-link" href=" {% url "webiel:sobre_historial" %} ">Historial</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href=" {% url "webiel:sobre_missao" %} ">Missão, Visão e Valores</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="{% url "webiel:sobre_estatuto" %}">Estatuto</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="{% url "webiel:sobre_pacto" %}">Nosso Pacto</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="{% url "webiel:sobre_fe" %}">Declaração de Fé</a>
               </li>
               <li class="nav-item">
                <a class="nav-link" href="{% url "webiel:sobre_pratica" %}">Declaração Prática</a>
               </li>
          </ul>
       </div>
     </div>
</nav>

<section>
     <div class="col-12 col-lg-12">
          <div class="container">
               <div class="row justify-content-between">
                    <div class="post-area">
                         <div class="single-post-details-area mt-3">
                              <h2 data-aos="zoom-in" class="post-title-his">Nosso Pacto</h2>
                              <div class="post-tags-share d-flex justify-content-between align-items-center">
                                    <!-- Tags -->
                            <ol data-aos="zoom-in" class="popular-tags d-flex flex-wrap mb-5">
                              <li><a href="#">Igreja Evangelica do Lubango,</a></li>
                              <li><a href="">Fundada em "19 de Maio de 1944"!</a></li>
                            </ol>
                          <!-- Share -->
                          <div data-aos="zoom-in" class="social-links-his mb-0">
                              <a href="https://www.facebook.com/UniaoLage?mibextid=7cd5pb"  target="_blank" rel="noopener noreferrer"><i class="bx bxl-facebook"></i></a>
                              <a href="https://api.whatsapp.com/send?phone=244948888293"  target="_blank" rel="noopener noreferrer"><i class="bx bxl-whatsapp"></i></a>
                              <a href="https://www.instagram.com/_igrejaevangelicadolubango_iel/" target="_blank" rel="noopener noreferrer"><i class="bx bxl-instagram"></i></a>
                              <a href="https://www.youtube.com/channel/UCoprCOxdsXL42F_E5Z1vLcA" target="_blank" rel="noopener noreferrer"><i class="bx bxl-youtube"></i></a>
                         </div>
                      </div>
                     
                      <p data-aos="zoom-in" style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;">Tendo a convicção de haverem sido induzidos pelo Espírito Santo a aceitar o Senhor Jesus Cristo como nosso Salvador e Senhor, e havendo sido baptizados, em virtude da nossa profissão de fé, no nome do Pai, do Filho e do Espírito Santo, agora na presença de Deus e desta congregação, fazemos pacto de uns com os outros de maneira mais feliz e solene, como um corpo que somos em Cristo.</span></p>
                      <p data-aos="zoom-in" style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;">Empenhamo-nos assim com o auxílio do Espírito Santo, a andar juntos no amor de Cristo; a esforçamo-nos pelo progresso desta igreja em conhecimento e santidade para promover a sua espiritualidade; a manter o seu culto, as suas ordenanças, a sua disciplina e suas doutrinas; a contribuir alegre e regularmente para o sustento do ministério, para as despesas da igreja e para a pregação do Evangelho em todas as nacções.</span></p>
                      <p data-aos="zoom-in" style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;">Reconhecendo a nossa responsabilidade, sinceramente procuraremos, pela graça de Deus, manter na família o culto doméstico; educar religiosamente os nossos filhos; procurar a salvação dos nossos parentes, dos nossos amigos e de outros que estejam perdidos; andar com prudência no mundo; ser justos em nossas acções, fieis em nossos compromissos e exemplares em nosso comportamento; evitar; evitar a difamação, a maledicência e a ira; abstermo-nos de todos os vícios; e ser zelosos em nossos esforços para a proximidade do reino do nosso Salvador e Senhor Jesus Cristo.</span></p>
                      <p data-aos="zoom-in" style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;">Prometemos ainda cuidar uns dos outros com amor fraternal; recordamo-nos mutuamente na oração; ajudarmo-nis uns aos outros nas enfermidades e infortúnios; cultivar a simpatia cristã do sentimento e a cortesia no falar; ser tardios em nos ofendermos e estar sempre prontos para a reconciliação com o esforço que Deus nos dá, abundante nos preceitos do nosso Salvador por observá-los sem tardança.</span></p>
                       
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</section>








