{% load static %}

<section id="about_page" class="about_page bg-cover mb-0">
     <div class="container">
          <div class="col-ms-12 text-center mt-6 my-5">
               <h1 data-aos="fade-up" class="text-white pt-4" style="
                        font-family: "Barlow", sans-serif !important;">SOBRE NÓS/</h1>
               <div class="border-top border-primary w-25 mx-auto my-4"></div>
               <p class="about_text text-white" data-aos="fade-up"  class="lead" style="font-weight: 400; font-size:12pt;
                        font-family: "Barlow", sans-serif !important;">Estamos localizados no Lubango, e no mundo inteiro pela Igreja Online. 
               Não importa onde você estiver, <br/> se junte a nós. O que encontrar aqui?</p>
           </div>
     </div>
</section>


<nav data-aos="zoom-in-up" class="navbar navbar-expand-lg bg-body-tertiary">
     <div class="container-fluid">
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse justify-content-center align-items-center" id="navbarTogglerDemo03">
          <ul class="nav nav-tabs mb-2 mb-lg-0" id="nav-tabs">
               <li class="nav-item">
                 <a class="nav-link" href=" {% url "webiel:sobre_historial" %} ">Historial</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href=" {% url "webiel:sobre_missao" %} ">Missão, Visão e Valores</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="{% url "webiel:sobre_estatuto" %}">Estatuto</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="{% url "webiel:sobre_pacto" %}">Nosso Pacto</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="{% url "webiel:sobre_fe" %}">Declaração de Fé</a>
               </li>
               <li class="nav-item">
                <a class="nav-link" href="{% url "webiel:sobre_pratica" %}">Declaração Prática</a>
               </li>
          </ul>
       </div>
     </div>
</nav>

<section>
     <div class="col-12 col-lg-12">
          <div class="container">
               <div class="row justify-content-between">
                    <div class="post-area">
                         <div class="single-post-details-area mt-3">
                              <h2 data-aos="zoom-in" class="post-title-his">Declaração da Prática</h2>
                              <div class="post-tags-share d-flex justify-content-between align-items-center">
                                    <!-- Tags -->
                            <ol data-aos="zoom-in" class="popular-tags d-flex flex-wrap mb-5">
                              <li><a href="#">Igreja Evangelica do Lubango,</a></li>
                              <li><a href="">Fundada em "19 de Maio de 1944"!</a></li>
                            </ol>
                          <!-- Share -->
                          <div data-aos="zoom-in" class="social-links-his mb-0">
                              <a href="https://www.facebook.com/UniaoLage?mibextid=7cd5pb"  target="_blank" rel="noopener noreferrer"><i class="bx bxl-facebook"></i></a>
                              <a href="https://api.whatsapp.com/send?phone=244948888293"  target="_blank" rel="noopener noreferrer"><i class="bx bxl-whatsapp"></i></a>
                              <a href="https://www.instagram.com/_igrejaevangelicadolubango_iel/" target="_blank" rel="noopener noreferrer"><i class="bx bxl-instagram"></i></a>
                              <a href="https://www.youtube.com/channel/UCoprCOxdsXL42F_E5Z1vLcA"  target="_blank" rel="noopener noreferrer"><i class="bx bxl-youtube"></i></a>
                         </div>
                      </div>
                      <p data-aos="zoom-in" style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;"><b>1 - O Baptismo</b></span></p>
                      <p data-aos="zoom-in" style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;">Cremos que o baptismo bíblico é só para os crentes. Não baptizamos bebês. Praticamos como regra o baptismo por imersão.</span></p>
                      <p data-aos="zoom-in" style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;"><b>2 - Santa Ceia</b></span></p>
                      <p data-aos="zoom-in" style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;">Aceitamos à mesa do Senhor todos os crentes que estejam em plena comunhão com Deus e com as suas respectivas igrejas que professam a mesma fé e ordem (I Coríntios 11:23-29).</span></p>
                      <p data-aos="zoom-in" style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;"><b>3 - A Disciplina</b></span></p>
                              <p data-aos="zoom-in" style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;">Cada Igreja será responsável pela manutenção e pureza da dotrina e do testemunho dos seus membros. Qualquer membro da Igreja que Deixe de cumprir os seus deveres perante o padrão bíblico, que mostre pela sua vida estar a viver em desonra ao Santo Nome de Deus e que depois de ser aconselhado não se arrepende será demitido de membro.</span></p>
                              <p data-aos="zoom-in" style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;"><b>4 - O Casamento</b></span></p>
                              <p data-aos="zoom-in" style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;">Serão celebrados pela Igreja os casamentos em que dois nubentes sejam membros em plena comunhão com a sua Igreja. (II Coríntios 6:14). </span><br /><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;">O sexo está reservado para o contexto do casamento entre homem e mulher (Gênesis 2:24, 4:1; Mateus 19:6; Marcos 10:7; I Tessalonicenses 4:3-7; Hebreus 13:14). Por conseguinte, a Igreja encoraja a abstinência sexual antes do casamento, com vista a preservar o princípio do temor a Deus. Os casamentos cujos nubentes infringiram os aspectos acima citados, estarão isentos de cerimônia religiosa.</span></p>
                              <p data-aos="zoom-in" style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;"><b>5 - Dedicação de Crianças</b></span></p>
                              <p data-aos="zoom-in" style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;">Os membros da União de Igrejas Evangélicas de Angola praticam a dedicação (consagração ou apresentação) das crianças desde que um dos pais seja membro baptizado em plena comunhão.</span></p>
                              <p data-aos="zoom-in" style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;"><b>6 - Comportamento</b></span></p>
                              <p data-aos="zoom-in" style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;">Reconhecendo que há certa controvérsia entre cristãos, quanto, especialmente a venda ou o uso do tabaco, e das bebidas alcoolicas, e aos bailes e outras práticas culturais que atentem contra o padrão bíblicp (consulta aos adivinhos, horóscopo, magia, consulta de mortos, feitiçaria, etc.... Deuteronônio 18:9-14), nós em confirmidade com esse padrão de santidade visto que não há nesses vícios proveito algum, mas sim prejuízos afirmamos a nossa posição contra eles (Gálatas 5:19-22; Romanos 24:21).</span></p>
                              <p data-aos="zoom-in" style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;"><b>7 - Actos Fúnebres</b></span></p>
                              <p data-aos="zoom-in" style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;">Reconhecendo que há certa controvérsia entre cristãos quanto ao entendimento sobre os atos fúnebres, serão celebrados pela igreja aqueles em que:</span></p>
                              <ul>
                                   <li>
                                        <p data-aos="zoom-in" style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;"><b>a) </b>O falecido tenha sido membro em plena comunhão (ou sob disciplina) desta Igreja;</span></p>
                                   </li>
                                   <li>
                                        <p data-aos="zoom-in" style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;"><b>b) </b>O falecido tenha sido assistente regenerado com evidência de bom testemunho;</span></p>
                                   </li>
                                   <li>
                                   <p data-aos="zoom-in" style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;"><b>c) </b>O falecido tenha sido menor de 12 anos que viveu em comunhão de mesa com membro da Igreja;</span></p>
                                   </li>
                                   <li>
                                   <p data-aos="zoom-in" style="text-align: justify; font-size: small;"><span style="font-size: 12pt; font-family: book antiqua, palatino, serif;"><b>NB </b>Os casos omissos são remetidos ao conselho ou assembleia que poderá por sua vez remetê-los a denominação U.I.E.A.</span></p>
                                   </li>
                              </ul>
                           </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</section>








