{% extends "global/base.html" %}

{% block title %} Departamento Dos Adolescentes {% endblock title %}

{% block content %}
       {% include 'webiel/partials/departamentos/adolescentes_iel.html'%}

{% endblock content %}

<!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.2.0/js/glightbox.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 800,
            once: true
        });

        
<script>
 
    // Proteção para o AOS não quebrar a página
    try {
      if (typeof AOS !== 'undefined') {
        AOS.init();
      }
    } catch (e) {
      console.warn("AOS não definido, ignorando...");
    }


</script>

        const lightbox = GLightbox({
            touchNavigation: true,
            loop: false,
            autoplayVideos: true
        });
    </script>