{% extends "global/base.html" %}

{% block title %} | Home {% endblock title %}

  
{% block content %}
       <!-- SLIDER -->
       {% include 'webiel/partials/slider.html'%}
       <!-- ABOUT -->
       {% include 'webiel/partials/about.html'%}
       <!-- CASAMENTO -->
       {% include 'webiel/partials/casamento.html'%}
       <!-- CARTAS -->
       {% include 'webiel/partials/cartas.html'%}
       <!-- PREGAÇÕES -->
       {% include 'webiel/partials/prega.html'%}
       <!-- NOTICIAS -->
       {% include 'webiel/partials/noticias.html'%}
{% endblock content %}




    
    
